<div class=" imagediv position-relative d-flex align-items-center justify-content-center text-center">
    <img class="whoImage" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/contactUsBanner.jpg" width="100%" alt="" style=" filter: brightness(0.5);   width: 100%;
    filter: brightness(0.5);
    height: 330px;
    background-position: center !important;
    background-repeat: no-repeat;
    display: flex;
    object-fit: cover;
    z-index: 0;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;">
    <div class="centered-text">Who We Are</div>
</div>
<div class="breadcrumbs">
    <div class="background" style="padding: 10px, 30px, 10px, 30px;">
        <div class="d-flex container-fluid tagtitle aligned-div">
            <p class="m-0 breadcrumbs-text" style="cursor: pointer;" [routerLink]="['/landing'] ">Home</p>
            <p class="m-0 breadcrumbs-text"> > </p>
            <p class="active-breadcrumbs breadcrumbs-text" style="margin: 0px 0px;"> Who We Are</p>
        </div>
    </div>
</div>
<div class="content_div">
    <div class="container" style="padding-top: 15px;padding-right: 70px; padding-left: 80px;">
        <div class="content">
            <h3 class="text-center mobHed" style="font-size: 32px;"><b style="font-family: Times New Roman;">SOLIZE</b> India Technologies  Private Limited</h3>
          <!--   <h5 class="text-center"><a href="http://www.solize.com/india" target="_blank"
                    style="color: #C10110;font-size: 16px;">http://www.solize.com/india</a></h5> -->
        </div>
        <div class="box container-fluid p-0">
            <div class="container-fluid p-0">
                <div class="row justify-content-center imagediv">
                    <div class="col-12 text-center mb-4 position-relative">
                        <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whoweare.png" alt="Who We Are" class="img-fluid who-we-are-img"
                            style="border-radius: 10px" />
                            <div class="overlay-text" style="display: flex;">
                                <span class="me-2 mt-4 sinCe">Since</span><p class="auGust"> August, 1992.</p>
                            </div>
                    </div>
                </div>
                <div class="row justify-content-center top-0" style="margin-top: -125px">
                    <div class="col-sm-6 col-md-4 d-flex justify-content-center mb-3">
                        <div class="card cardss" style="border-radius: 10px; width: 100%; max-width: 250px">
                            <div class="card-body text-center">
                                <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whoweare1.png" class="img-fluid" alt="Onsite"
                                    style="max-height: 150px; object-fit: cover" />
                                <br /><br />
                                <h5 class="card-text" style="
                            font-weight: 300;
                            font-size: 16px;
                            margin-bottom: 0px;
                          ">
                                    Onsite
                                </h5>
                                <p class="card-text text-center" style="font-weight: 300;font-size: 16px; ">
                                    Engineering Services
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 d-flex justify-content-center mb-3">
                        <div class="card cardss" style="border-radius: 10px; width: 100%; max-width: 250px">
                            <div class="card-body text-center">
                                <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whoweare2.png" class="img-fluid"
                                    alt="Offshore Contracted" style="max-height: 150px; object-fit: cover" />
                                <br /><br />
                                <h5 class="card-text" style="
                            font-weight: 300;
                            font-size: 16px;
                            margin-bottom: 0px;
                          ">
                                    Offshore Contracted
                                </h5>
                                <p class="card-text text-center" style="font-weight: 300; font-size: 16px;">
                                    Engineering Services
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 d-flex justify-content-center mb-3">
                        <div class="card cardss" style="border-radius: 10px; width: 100%; max-width: 250px">
                            <div class="card-body text-center">
                                <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whoweare3.png" class="img-fluid"
                                    alt="Software Sales Distribution" style="max-height: 150px; object-fit: cover" />
                                <br /><br />
                                <h5 class="card-text" style="
                            font-weight: 300;
                            font-size: 16px;
                            margin-bottom: 0px;
                          ">
                                    Software Sales Distribution
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5 MobilePadding p-0">
                <div class="row">
                    <div class="col-md-4 mobileImageplace">
                        <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whoweare4.png" class="img-fluid imgLong" alt="">
                    </div>
                    <div class=" col-8 executive-card-body">
                        <h1 class="fw-bold mobileTextalign" style="font-weight: 300;font-size: 25px;"><b>Mahadevan V.S.</b></h1>
                        <p class="mobileTextalignP" style="font-weight: 300; font-size: 15px;">CEO & Director,<br>
                            <span class="companyName"> SOLIZE India Technologies Private Limited</span></p>
                        <hr>
                        <p class="longDev" style="font-weight: 300; font-size: 16px !important;line-height:22px;margin-bottom: 0px">
                            <span class="companyName"> SOLIZE India Technologies Private Limited</span> ever since its inception three decades ago, has lead
                            the Indian Engineering Industries by introducing many Digital Engineering Tools and
                            Processes, which enabled the Industries to design and manufacture world-class products and
                            enhance its competitiveness. As the Indian manufacturing companies started expanding their
                            global footprint, 
                            <span class="companyName"> SOLIZE India Technologies Private Limited</span>  has been able to align itself with its customers through the
                            <span class="companyName"> SOLIZE India Technologies Private Limited</span> Companies located in Japan, US, China and Europe. As a trusted technology partner, we
                            are committed to provide world-class engineering tools and services which will support the
                            technological and business goals of our customers.</p>
                    </div>
                </div>
            </div>
            <div class="container mt-5 MobilePadding p-0">
                <div class="row g-4 d-flex " style="justify-content: space-between;">
                    <div class="col-lg-6 col-md-12">
                        <div class="card office-card text-center" style="background-color: #F0EEEE;">
                            <h5 style="text-align: center; font-size: 25px; padding: 40px 0px 0px 0px;"><b>Regional
                                    Headoffice</b></h5>
                            <p class="font-align">
                                2nd Floor, Unit No. 201 & B 202, Brigade Opus, No. 70/401, Kodigahalli Gate, Hebbal,
                                Bangalore-560092, India
                            </p>
                            <div class="mt-2">
                                <p class="font-align">TEL: +91-80-6178-2000</p>
                                <p class="font-align">FAX: +91-80-6178-2001</p>
                                <p class="font-align">Email: contact.sid@solize.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="text-center">
                            <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.6619089292967!2d77.59049517327777!3d13.057179387266071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae172842ca4887%3A0x3aa5d4c5eb4e832b!2sSOLIZE%20India%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1724053683414!5m2!1sen!2sin"
                                width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                                aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                </div>

                <div class="row g-4 mt-3 d-flex align-items-stretch">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                      <div class="card p-3" style="background-color: #f0eeee">
                        <h5 class="font-align mt-2"><b>CHENNAI</b></h5>
                        <p class="font-align mt-2"style="margin-bottom: 0rem;">
                          Suite no 104, 1st Floor, DBS Business Centre, 31-A Cathedral Garden Road, Nungambakkam,<br> Chennai - 600034
                        </p>
                        <p class="font-align"style="margin-bottom: 0rem;">TEL: +91-44-42084243</p>
                        <p class="font-align"style="margin-bottom: 0rem;">Email: contact.sid@solize.com</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                      <div class="card p-3" style="background-color: #f0eeee">
                        <h5 class="font-align mt-2"><b>HYDERABAD</b></h5>
                        <p class="font-align mt-2"style="margin-bottom: 0rem;">
                          No 313, DBS Business Center, DBS House, 1-7-43-46, Sardar Patel Road, Secunderabad - 500 003
                        </p>
                        <p class="font-align"style="margin-bottom: 0rem;">TEL: +91-40-40205020</p>
                        <p class="font-align"style="margin-bottom: 0rem;">Email: contact.sid@solize.com</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                      <div class="card p-3" style="background-color: #f0eeee">
                        <h5 class="font-align mt-2"><b>NEW DELHI</b></h5>
                        <p class="font-align mt-2"style="margin-bottom: 0rem;">
                          Flat No 812, 8th Floor, Chiranjiv Tower, Nehru Place, New Delhi - 110019
                        </p>
                        <p class="font-align"style="margin-bottom: 0rem;">TEL: +91-11-4039-8922</p>
                        <p class="font-align"style="margin-bottom: 0rem;">Email: contact.sid@solize.com</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                      <div class="card p-3" style="background-color: #f0eeee">
                        <h5 class="font-align mt-2"><b>PUNE</b></h5>
                        <p class="font-align mt-2"style="margin-bottom: 0rem;">
                          EFC Prime, S. no 106/3, Pune-Bengaluru Highway, Near Balewadi, Baner, <br>Pune - 411045
                        </p>
                        <p class="font-align"style="margin-bottom: 0rem;">TEL: +91-8248468251</p>
                        <p class="font-align"style="margin-bottom: 0rem;">Email: contact.sid@solize.com</p>
                      </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>