<div class="contactUs">
    <div class=" imagediv position-relative d-flex align-items-center justify-content-center text-center">
        <img class="contactImage" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/contactUsImage.png" width="100%" alt="" style=" filter: brightness(0.5);
           width: 100%;
      filter: brightness(0.5);
      height: 330px;
      background-position: center !important;
      background-repeat: no-repeat;
      display: flex;
      object-fit: cover;
      z-index: 0;
      position: relative;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;">
        <div class="centered-text">Contact us</div>
    </div>
    <div class="breadcrumbs">
        <div class="background">
            <div class="d-flex container-fluid">
                <p class="breadcrumbs-text m-0" style="cursor: pointer;" [routerLink]="['/landing'] ">Home &nbsp;>&nbsp;</p>
                <p class="active-breadcrumbs breadcrumbs-text" style="margin: 0px 5px;">Conatct us</p>
            </div>
        </div>
    </div>
    <div class="content_div">
        <div class="container" style="padding-top: 15px;padding-right: 10px;
    padding-left: 18px;">
            <div class="content">
                <h1 class="text-center mainhead"><b>Contact us</b></h1>
                <p class="paragrap" style="font-size: 16px;padding: 0px 37px;">If you have any questions about the
                    services and solutions offered by 
                    <span class="companyName"> SOLIZE India Technologies Private Limited</span> please feel free to contact us using the form below.
                </p>
            </div>
            <div class="box container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card card-design align-items-center">
                            <img style="width: 45px; height: 45px;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/serviceInquiry.png"
                                alt="">
                            <h2 class="text-center" style="font-size: 18px; padding: 10px 31px;margin-bottom: 0px;">
                                Inquiries regarding services and solutions</h2>
                            <p class="text-center p-tag">-Request for information, estimates, questions, consultations,
                                etc.</p>
                            <button class="inquiryForm btn-redColor" routerLink="/ServiceInqruries">Inquiry form <img
                                    src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whiteArrowicon.png" style="width: 12px;"
                                    alt=""></button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-design align-items-center">
                            <img style="width: 45px; height: 45px;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/VariousInquiries.png"
                                alt="">
                            <h2 style="font-size: 18px;padding: 10px;">Various Inquiries</h2>
                            <p class="text-center">Opinions and requests regarding 
                                 
                                <span class="companyName"> SOLIZE India Technologies Private Limited</span> activities </p>
                            <p class="text-center">Regarding handling of personal information/specific persoal
                                information, etc. </p>
                            <p class="text-center p-tag2">Opinions and requests regarding the content of this website.
                            </p>
                            <button class="inquiryForm btn-redColor" routerLink="/VariousInquries">Inquiry form <img
                                    src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whiteArrowicon.png" style="width: 12px;"
                                    alt=""></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orderList container-fluid">
                <ul class="overallfontsiz">
                    <li>Depending on the content of your inquiry and our workload, it may take several days to several
                        weeks for us to respond.</li>
                    <li>Please note that we may not respond to inquiries made for business purposes.</li>
                    <li>For urgent matters, please contact us by phone.</li>
                </ul>
            </div>
            <div class="cantactNumber container-fluid">
                <div class="backdiv card align-items-center">
                    <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/callImage.png" alt="">
                    <h2 style="padding: 20px;font-size: 17px;margin: 0px;font-weight: 600;">Contact by Phone Number</h2>
                    <button class="call-Btn">+91-80-6178-2000</button>
                </div>
            </div>
        </div>
    </div>
</div>