.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn {
    color: #FFFFFF;
    width: 200px;
}

.otherSol {
    background-color: #615959;
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

.downLoad {
    background-color: #C10110;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.background {
    width: 100%;
    background-color: #F1F3F6;
    height: 40px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .carousel-slider-img {
        z-index: 0 !important;
        height: 0% !important;
    }

    .background {
        display: none !important;
    }

    .imagediv .centered-text {
        font-size: 25px !important;
    }

    .btns {
        flex-direction: column;
    }

    #dataToExport {
        padding: 20px 8px !important;
    }

    .ProductName {
        white-space: normal;
        word-wrap: break-word;
    }
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 52.5px;
}
.icon-img-download{
    width: 10px;
    width: 17px;
    padding-top: 3px;
}
.icon-img{
    width: 10px;
    width: 15px;
    padding-top: 3px;
}
.cursor-pointer{
    cursor: pointer;
}