<hr style="border-color:  rgba(0, 0, 0, 1);padding: 0px;border-top-width: 1px;margin-top: 0px !important;">
<div class="content_div">
    <div class="container mobilepadding" style="padding: 0px 70px 0px 70px">
        <div class="content">
            <p class="text-center mainhead" style="color: rgba(0, 0, 0, 1);">Cookie policy</p>
        </div>
        <div class="row mb-3">
            <div class="col ">
                <p class="paragra">
                    This website uses cookies. This site uses cookies to personalize content and advertisements, provide
                    social
                    media features, and measure the number of impressions and clicks on advertisements. We also collect
                    information about how users use our site and share it with our social media, ad delivery, and data
                    analytics
                    partners. Each partner may use a combination of the information collected here and what you provide
                    to each
                    partner, as well as other information collected when you use each partner's services.
                </p>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <p class="paragra">
                    Cookies are small text files that allow you to use a website more effectively.
                    Although it is permitted by law that cookies may be stored on the user's device if they are
                    necessary for
                    the correct operation of the site, the use of all types of cookies requires your permission.
                    Different types
                    of cookies are used on this site. Some cookies are placed by third-party services that are displayed
                    on our
                    pages.
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <span class="paragra">
                    Consent applies to the following domains: <span class="text-red">www.solize.com </span>
                </span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <p class="paragra"> Consent Status: All Allowed.
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <span class="paragra"> Consent ID: <span
                        class="text-red word-break">cSceuaO/xxxxNZHdIobgyvm0vDRB/fG9+eMA8EQ51FI8VAUtHJ7h0g==</span>
                </span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <p class="paragra"> Date agreed: <span class="text-red">{{formattedDate }}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="paragra">
                    <a href="#" class="text-decoration-none">Change Consent</a> | <a href="#"
                        class="text-decoration-none">Withdraw Consent</a>
                </p>
            </div>
        </div><br>
        <div class="row mb-2">
            <div class="col">
                <p class="paragra">Cookie declaration on 2024/xx/xx It was last updated by.
                </p>
            </div>
        </div>
    </div>
</div>