.full-width-image {
    width: 100%;
    border-radius: 10px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 3.5rem;
}

.card-1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-2 {
    width: 17rem;
    position: absolute;
    margin-top: 142px;
    margin-left: 48px;
    height: 184px;
    border-radius: 0px;
}

@media (max-width:1200px) {
    .overallCard {
        margin-top: 90px;
    }
}

.card-body-1 {
    height: 70px;
    margin-bottom: 60px;
}

hr {
    position: absolute;
    opacity: 1;
    margin: 40px -73px;
    height: 4px;
    background-color: #E94956;
    width: 48px;
    border: none;
}

.viewbtn {
    border-top-right-radius: 20px;
    margin-top: 28px;
}

@media (min-width:720px) {
    .viewbtn {
        margin-top: 10px;
    }
}

@media (max-width:719px) {
    .viewbtn {
        margin-top: 10px;
    }
}

.card-img-top {
    border-top-left-radius: 50px;
    border-top-right-radius: 0px !important;
}

.services-header {
    font-size: 24px;
    color: #0D0D0D;
    font-weight: bold;
}

.intro-content {
    font-size: 17px;
    line-height: 24px;
    color: #312E2E;
}

.card-title {
    font-weight: bold;
    color: #0D0D0D;
}

a {
    color: #0D0D0D;
}

.card-text {
    color: #312E2E
}

@media (max-width: 768px) {
    .left-info {
        top: 26%;
    }
}

@media (max-width: 768px) {
    .right-info {
        top: 76%;
    }
}

.paragraph_text {
    overflow: hidden;
    max-width: 100%;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@media (min-width: 280px) and (max-width: 420px) {
    .card-2 {
        margin-top: 141px;
        width: 12rem;
    }

    .overall_Cards {
        padding-left: 30px;
        padding-right: 0px;

    }

    .card-img-top {
        width: 239px
    }
}

@media (min-width: 421px) and (max-width:639px) {
    .card-2 {
        margin-top: 142px;
        width: 19rem;

    }

    .overall_Cards {
        padding-left: 30px;
        padding-right: 8px;

    }

    .card-img-top {
        width: 349px;

    }
}

@media (min-width: 640px) {
    .card-2 {
        margin-top: 142px;
        width: 19rem;
        ;
    }

    .overall_Cards {
        padding-left: 30px;
        padding-right: 8px;
    }

    .card-img-top {
        width: 349px;
    }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
    .card-2 {
        margin-top: 142px;
        width: 13rem;
    }

    .overall_Cards {
        padding-left: 30px;
        padding-right: 8px;
    }

    .card-img-top {
        width: 255px;
    }

}

@media screen and (min-width: 1024px) {
    .card-2 {
        margin-top: 142px;
        width: 15rem;
    }

    .overall_Cards {
        padding-left: 30px;
        padding-right: 47px;
    }

    .card-img-top {
        width: 286px;
    }
}

@media (min-width: 1280px) and (max-width:1535px) {
    .card-2 {
        margin-top: 141px;
        width: 14rem;
    }

    .overall_Cards {
        padding-left: 30px;
        padding-right: 38px;
    }

    .card-img-top {
        width: 272px;
    }
}

@media screen and (min-width: 1536px) {
    .card-2 {
        margin-top: 142px;
        width: 17rem;
    }

    .overall_Cards {
        padding-left: 30px;
        padding-right: 52px;
    }

    .card-img-top {
        width: 320px;

    }
}

.com_two {
    min-height: 100px;
}

.back_color {
    background-color: #DEDEDE;
    padding: 20px
}

.header-nav {
    background: white;
}