<div class="" style="    padding-left: 0px;
padding-right: 0px;">
    <div class="row">
        <app-product-banner></app-product-banner>
    </div>
    <div>
        <div class="row container m-auto px-0 py-0 pb-0 pt-5">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h1 class="services-header mb-3">Service/Solution</h1>
                <p class="intro-content">SOLIZE India has more than three decades of experience in engineering design,
                    software tools and services. We have built upon our qualified capabilities through technology
                    partnership with global leaders: Dassault Systèmes, MSC Software, VI Grade.</p>
                <p class="intro-content">We have strong customer base spanning across automotive, aerospace, defense and
                    heavy engineering industries. Additionally, we maintain strong relationship with the Indian
                    engineering universities, significantly contributing towards skill development in the area of
                    engineering design.</p>
                <p class="intro-content">Our customer success stories cover among the original equipment manufacturers
                    and sub-system suppliers. SOLIZE India is specialized in configuring solutions considering both
                    technical and business challenges resulting in high customer satisfaction, and enjoying high
                    customer retention through high quality and value-added technical support capabilities</p>
            </div>
        </div>
        <div class="pt-4">
            <div class="container" style="padding-left: 24px;">
                <h2 class="services-header">Offerings</h2>
            </div>
            <div class="back_color">
                <div class="row mt-3 container m-auto" style="padding-left: 0px; ">
                    <div class=" row" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 d-flex overall_Cards"
                            *ngFor="let data of offeringData">
                            <div class="card card-1">
                                <img class="card-img-top" style="height: 195px;" [src]="data.categoryImage"
                                    alt="Card image cap">
                                <div class="card-body card-body-1">
                                </div>
                            </div>
                            <div class="card card-2">
                                <div class="card-body">
                                    <hr>
                                    <div class="com_two">
                                        <h3 class="card-title">{{data.categoryName}}</h3>
                                        <p class="card-text paragraph_text">{{data.categoryShortDesc}}</p>
                                    </div>
                                    <div>
                                        <button class="btn btn-outline-dark viewbtn"
                                            (click)="viewMore(data.categoryId)">VIEW MORE ></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-contact-us></app-contact-us>
</div>