<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 image-container">
      <img class="full-width-image"
        src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/offering-banner.png" />
      <div class="text-container">
        <h2 class="head_2">Offerings</h2>
        <p class="para">Offerings > <span routerLink="/offerings">Service / Solution</span> >{{categoryName}}</p>
      </div>
    </div>
  </div>
  <div class="container pt-5">
    <div class="row mt-3">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 class="services-header mb-3">{{categoryData?.categoryName }}</h2>
        <p class="intro-content">We assist our customers to successfully deploy and effectively use these solutions in
          their engineering processes through training programs, configuration and customization of the software tools.
        </p>
      </div>
    </div>
    <div class="row" *ngIf="vendors && vendors.length > 0">
      <h2 class="services-header mb-3">Products</h2>
      <div class="row carouselmain">
        <div id="multi-item-example" class="carousel slide carousel-equal-heights my-4" data-interval="false">
          <div class="controls-top mb-3">
            <div class="row w-100 align-items-center m-0">
              <div class="col-4">
                <div class="row align-items-center">
                  <div class="col-md-2 col-lg-2 col-sm-12">
                    <img class="card-img-top vendorImage" src="{{ currentCarouselItem?.vendorImage }}" alt=""
                      style="width: 190px !important">
                  </div>
                  <div class="col-2">
                  </div>
                </div>
              </div>
              <div class="col-4">
              </div>
              <div class="col-4 d-flex justify-content-evenly">
                <a class="btn-floating" href="#multi-item-example" (click)="prevItem()" data-slide="prev"
                  [ngClass]="{'disabled': disablePrevButton}">
                  <i class="fa fa-chevron-left"></i>
                </a>
                <span class="pagination mt-2">{{ currentCarouselIndex + 1 }}/{{ getTotalSlides() }}</span>
                <a class="btn-floating" href="#multi-item-example" (click)="nextItem()" data-slide="next"
                  [ngClass]="{'disabled': disableNextButton}">
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item" *ngFor="let item of vendors; let i = index" [class.active]="i === 0">
              <div class="row">
                <div class="col-md-3" *ngFor="let card of item.products">
                  <div class="overallcard mt-3" (click)="viewProduct(card.productId)">
                    <div class="card card_align" style="box-shadow: none !important;">
                      <div class="card-body" style="padding-bottom: 15px; padding-left: 17px;">
                        <h2 class="card-text" [innerHTML]="card.productName" style="font-size: 18px;"></h2>
                      </div>
                    </div>
                    <div style="padding: 0px 20px 18px 16px;">
                      <img class="card-img-top" style="width: 100%; height: 150px;" [src]="card.productImage" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="empty mt-3"></div>
      </div>
    </div>
    <div class="row mt-3">
      <h2 class="services-header mb-3"
        *ngIf="currentCarouselItem?.lineOfBusiness && currentCarouselItem.lineOfBusiness.length > 0">Line Of Business
      </h2>
      <div class="col-md-3" *ngFor="let lob of currentCarouselItem?.lineOfBusiness">
        <div class="card overallcard" style="box-shadow: none !important;">
          <div class="card-body pt-0">
            <div class="row no-gutters" (click)="viewData(lob.lobId)">
              <div class="card-body d-flex flex-column justify-content-start lobName"
                style="padding-left: 12px;padding-bottom: 10px;">
                <div>
                  <h4 class="mb-0 card-content">{{ lob.lobName }}</h4>
                </div>
              </div>
              <div>
                <img [src]="lob.lobImage" class=" shadow-4-strong" alt="Circular Image"
                  style="width: 100%; height: 150px;">
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <app-contact-us></app-contact-us>
  </div>
</div>