<nav class="navbar navbar-expand-lg  bg-light fixed-top" [@popOverState]>
  <div class="container-fluid p-0">
    <div class="mobileviewDesign">
      <div>
        <button  class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="solizelogo">
        <a href="">
          <img style="width: 165px;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/SOLIZE_logo-b_l.jpg">
        </a>
      </div>
      <div class="search_icon">
        <img data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
          src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/searchicon.png" alt="">
      </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header" style="padding-bottom: 19px;">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
          <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/closeBtn.png" alt="">
        </button>
      </div>
      <div class="overallBody">
        <div class="offcanvas-body1">
          <ul class="navbar-nav offcanvas-body1-nav container">
            <li class="nav-item d-flex align-items-center">
              <div class="d-flex">
                <div class="logo_div">
                  <a href="https://www.linkedin.com/company/solize-india" class="linklogo" target="_blank">
                    <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/linkedin.svg" alt="">
                    <span class="tooltiptext"> LinkedIn</span>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class=" my-2 my-lg-0 align-items-center">
                <div style="display: flex;justify-content: center;">
                  <div>
                    <div class="d-flex justify-content-between">
                    </div>
                    <div class="button_Div">
                      <button class="contactMob" data-bs-dismiss="offcanvas" style="width: 220px;font-size: 16px;color: white;background: none;border: none;" routerLink="/contactus">
                        <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Contact%20us.svg"
                          style="height: 13px; margin-right: 5px;font-size: 14px;" alt="">contact.sid@solize.com </button>
                      <button class="btn second-btns"
                        style="width: 220px;pointer-events: none; margin-right: 7px;font-size: 16px;"> <img
                          src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Phone%20number%20icon.svg"
                          style="height: 13px; margin-right: 5px;font-size: 14px;" alt=""> +91-8061782000</button>
                      <div>
                        <div class="d-none d-lg-block" *ngIf="!isLoggedIn">
                          <button class="signin-othernavbtn btn-redColor" [routerLink]="['/login']"
                            style="position: relative;width: 166px;display: flex;gap: 15px;justify-content: center;align-items: center;">
                            Sign in <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/sign%20in%20icon.svg" width="17px" height="17px"
                              alt="">
                          </button>
                        </div>
                        <div class="dropdown" *ngIf="isLoggedIn" #dropdown (click)="closeDropdown()" >
                          <div class="avatar gap-1 dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="avatar-text" style="margin: 5px;">
                              <div
                                style="font-size: 9px; width: 24px;height: 24px;align-items: center;display: flex;justify-content: center;">
                                {{ getProfileImageFileName() }}
                              </div>
                            </div>
                            <div class="avatar-text2"
                              style="font-size: 16px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                              {{firstName }}{{lastName}}</div>
                            <div class="arrowIcon" style="width: 20px;">
                              <img *ngIf="!uparrow" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Up_arrow.png" alt="">
                              <img *ngIf="!Downarrow" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Down_arrow.png" alt="">
                            </div>
                          </div>
                          <div #profileDropdown class="dropdown-menu text-left dropdown-menu-right mt-1 pb-0"
                            aria-labelledby="dropdownBasic2" [ngClass]="{ 'show': isOpen }"
                            aria-labelledby="dropdownMenuButton">
                            <a *ngFor="let link of profileLinks"  data-bs-dismiss="offcanvas" class="dropdown-item py-2" [routerLink]="link.route"
                              (click)="selectLink(link.label)" (click)="handleLinkClick($event, link.label)">
                              <div class="d-flex align-items-center contents">
                                <span *ngIf="link.label === 'User'">
                                  <img class="fas fa-user-circle ml-1 mr-2" id="avatar"
                                    src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/profile.jpg"
                                    alt="avatar" height="25" width="25" />
                                </span>
                                <i *ngIf="link.label !== 'My Account'" [ngClass]="{'fas fa ml-1 mr-2': link.label === 'Orders',
                                    'fas  ml-1 mr-2': link.label === 'Inquiries',
                                    'fas fa': link.label === 'Account Settings',
                                    'fas fa-2' : link.label ==='Reset Password',
                                    'fas fa-': link.label === 'Help',
                                    'fas fa-1': link.label === 'Logout' }"></i>
                                <span>{{ link.label }}</span>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="offcanvas-body2">
          <ul class="navbar-nav offcanvas-body2-nav container ">
            <li class="nav-item col-2">
              <div class="col-2 LogoImageBlack">
                <a href="">
                  <img style="width: 150px;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/SOLIZE_logo-b_l.jpg">
                </a>
              </div>
            </li>
            <li class="nav-item col-10 headinglistLi">
              <div class="headinglist ">
                <a class="nav-link" (click)="navigateToDiv()" [routerLink]="['/services']"  routerLinkActive="active"  style="cursor: pointer;"  data-bs-dismiss="offcanvas"
                  aria-label="Close">Services/Technologies</a>
                <a class="nav-link" [routerLink]="['solutions']" routerLinkActive="active" data-bs-dismiss="offcanvas"
                  aria-label="Close">Solutions</a>
                <a class="nav-link " style="cursor: pointer;" routerLinkActive="active" routerLink="/who-we-are" data-bs-dismiss="offcanvas"
                  aria-label="Close">Who We Are</a>
                <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active" data-bs-dismiss="offcanvas" aria-label="Close">Events &
                  Seminars</a>
               <!--  <a class="nav-link" [routerLink]="['/Careers']" data-bs-dismiss="offcanvas"
                  aria-label="Close">Careers</a> -->
              </div>
            </li>
            <div class="d-block d-lg-none" *ngIf="!isLoggedIn">
             <!--  <a class="signin-othernavbtn btn-redColor" [routerLink]="['/login']"
                style="position: relative;width: 166px;display: flex;gap: 15px;align-items: center; font-size: 16px !important;">
                Sign in <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/sign%20in%20icon.svg" width="17px" height="17px" alt="">
              </a> -->
            </div>
          </ul>
        </div>
      </div>
    </div>
    <div class="offcanvas offcanvas-end searchCanvas" tabindex="-1" id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header" style="    display: flex;align-items: baseline;padding: 15px 21px 7px 19px;">
        <h5 id="offcanvasRightLabel" style="color: #FFFFFF80;">Search</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
          <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/closeBtn.png" alt="">
        </button>
      </div>
      <div class="offcanvas-body">
        <form class="search_box" [formGroup]="searchForm" (ngSubmit)="submitForm()">
          <div class="search_box_div">
            <div class="bannserach text-center" *ngIf="firstDiv">
              <div style="display: flex; flex-direction: column;gap: 25px;">
                <div class="input-container">
                  <input style="color: #ffff;" type="text" placeholder="Search by keywords" (keyup)="searchTag($event)"
                    formControlName="productTag" class="search_btn1">
                  <div class="dropdown-options container" *ngIf="filteredtags.length > 0">
                    <div class="row">
                      <div class="col">
                        <span class="option_item" *ngFor="let item of filteredtags.slice(0,10)"
                          (click)="clickTagSearch(item)">{{item}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-container">
                  <input style="color: #ffff;" type="text" placeholder="Search by partners" formControlName="vendor"
                    (keyup)="searchVendor($event)" class="search_btn1">
                  <div class="dropdown-options" *ngIf="filteredvendors.length > 0">
                    <span class="option_item" *ngFor="let item of filteredvendors.slice(0,10)"
                      (click)="clickVendorSearch(item)">{{item}}</span>
                  </div>
                </div>
              </div>
              <button type="submit" class="text-reset btn btn_style" data-bs-dismiss="offcanvas"
                aria-label="Close">Search</button>
            </div>
            <div class="OverAllSearch text-center" *ngIf="secDiv">
              <div class="container input-container" style="margin-top: 25px;">
                <input type="text" placeholder="Search Globally">
                <button type="submit" class="text-reset btn btn_style" data-bs-dismiss="offcanvas"
                  aria-label="Close">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
