.signin-btn {
  background: transparent;
  border: 1px solid #FFFFFF;
  width: 150px;
  color: #FFFFFF;
  border-radius: 10px;
  height: 40px;
}

.nav-link {
  color: #131313;
  font-weight: 500;
}

.me-0 {
  margin: 0 0 0 16px !important;
}

.avatar {
  cursor: pointer;
}

#avatar {
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
}

.profilName {
  font-weight: bold;
}

.dropdown-item:hover {
  font-weight: bold;
  color: #000000;
  font-weight: bold;
  background: #0000000D;
}

.contents {
  padding-left: 10px;
}

.contents:hover {
  border-left: 2px solid #000000;
}

.pc-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.header-wrapper {
  flex-grow: 1;
}

.nav-link:focus,
.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: black !important;
  color: black;
}

#navbarNav {
  justify-content: flex-end;
  align-items: center;
}

.link_style {
  position: relative;
  font-size: 20px !important;
  top: 0px !important;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: fit-content !important;
  }
}

.avatar {
  width: 165px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  border: 1px solid #FFFFFF;
  justify-content: space-evenly;
}

.avatar-text {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.avatar-text2 {
  color: #FFFFFF;
}

.header-nav-text {
  color: rgba(255, 255, 255, 1);
}

.other-nav-text {
  color: rgba(19, 19, 19, 1);
}

.header-nav {
  background: rgba(72, 72, 72, 0.5);
}

.other-nav {
  background: rgba(255, 255, 255, 1);
}

.signin-othernavbtn {
  background: #CA0010;
  border: none;
  width: 150px;
  color: rgb(250, 247, 247);
  border-radius: 10px;
  height: 35px;
}

.signin-othernavbtn:hover {
  background-color: #a41e29 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.buttons {
  padding: 10px, 30px, 10px, 30px;
}

.home-btn {
  width: 141px;
  color: #FFFFFF;
  text-align: left
}

.event_btn {
  width: 170px;
  margin-left: 7px;
  color: #FFFFFF;
  text-align: left;
}

.searchbtn {
  background-color: #F1EAEB80;
  width: 200px;
  height: 41px;
  border: 1px solid #23181526;
  border-radius: 5px;
}

.second-btns {
  background-color: none !important;
  color: #FFFFFF;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.first_btns {
  background: linear-gradient(180deg, #E81A2A 0%, #E73846 51%, #CA0010 100%);
  width: 100%;
  color: #FFFFFF;
}

.input-container {
  position: relative;
  display: inline-block;
}

.input-container input[type="text"] {
  padding: 12px 20px 12px 40px;
  width: 200px;
  border-radius: 10px;
  height: 35px;
}

.input-container .icon {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 20px;
  height: 20px;
 // background-image: url('../../../../assets/images/serachicon.png');
  background-size: cover;
  cursor: pointer;
}

.navbar {
  display: contents;
}

.inputstyle {
  width: 310px;
  border-radius: 10px;
  border: 0.5px solid #23181570;
  background: #F1EAEB80;
}

.logo_div {
  display: flex;
  gap: 10px;
}

.headinglist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.serachButton {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.headinglist>a {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.serachButton>a {
  color: #23181580;
  font-size: 18px;
  text-decoration: underline;
}

.button_Div {
  display: flex;
  justify-content: space-between;
}

.offcanvas-body1 {
  background-color: #000000;
}

#offcanvasNavbar {
  background-color: #000000;
}

.offcanvas-header {
  border-bottom: 1px solid #FFFFFF;
 
}

.offcanvas-body2-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px 5px 60px;
  flex-direction: row;
}

.offcanvas-body1-nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 40px 6px 72px;
}

.searchInput {
  height: 33px;
  border-radius: 8px;
  padding: 13px;
  border: 0.5px solid #23181570;
}

.serachButton>img {
  position: relative;
  right: 29px;
}

@media screen and (min-width:992px) {
  .solizelogo {
    display: none;
  }

  .search_icon {
    display: none;
  }
 
}

@media screen and (max-width: 992px) {
  .offcanvas-body1 {
    color: white;
  }

  .logo_div {
    display: none;
  }

  .button_Div {
    display: contents;
  }

  .LogoImageBlack {
    display: none;
  }

  .headinglist {
    display: contents;
  }

  .headinglistLi {
    display: contents;
  }

  .headinglist>a {
    color: #FFFFFF;
    font-weight: 100;
  }

  .overallBody {
    display: flex;
    flex-direction: column-reverse;
  }

  .offcanvas-body2-nav {
    flex-direction: column;
    display: flex;
    align-items: normal;
    margin: 0px 15px;
    padding:30px 0px!important;
    border-bottom: 1px solid #FFFFFF;
  }

  .offcanvas-body1-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0px;
    margin-left: 0px !important;
  }

  .headinglist>a {
    padding-bottom: 10px;
  }

  .offcanvas-body1>ul>li {
    padding-bottom: 10px;
  }

  .signin-othernavbtn {
    background: none;
    border: none;
    width: 131px !important;
    color: rgb(250, 247, 247);
    border-radius: 10px;
    height: 35px;
  }

  .mobileviewDesign {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .serachButton {
    display: none;
  }

  .dropdown-menu {
    top: 46%;
    right: 111px;
  }

  .searchCanvas {
    display: block !important;
    width: 290px;
    background-color: #000000;
  }

  .input-container>input {
    border: 1px solid #FFFFFF80;
    width: 100% !important;
    background: #FFFFFF1A;
  }
  .dropdown{
    margin-left: 10px !important;
  }
  .contactMob{
    margin-left: 8px !important;
  }
}

#offcanvasNavbar {
  width: 290px !important;
}

.linklogo {
  position: relative;
  display: inline-block;
}

.linklogo .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.linklogo:hover .tooltiptext {
  visibility: visible;
}

.linklogo .tooltiptext {
  width: 80px;
  top: 121%;
  left: 50%;
  font-size: 11px;
  background-color: #676464;
  margin-left: -40px;
}

input:focus {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  text-decoration: underline;
}

.nav-link:visited {
  text-decoration: underline;
  color: black;
}

.nav-link.active {
  text-decoration: underline;
  color: black;
}

.searchCanvas {
  display: none;
}

:root {
  --switches-bg-color: goldenrod;
  --switches-label-color: white;
  --switch-bg-color: white;
  --switch-text-color: goldenrod;
}

.switches-container {
  width: 16rem;
  position: relative;
  display: flex;
  padding: 0;
  position: relative;
  background: black;
  line-height: 3rem;
  border-radius: 3rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #FFFFFF
}

.switches-container input {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.switches-container label {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: white;
}

.switch-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 0.15rem;
  z-index: 3;
  transition: transform .5s cubic-bezier(.77, 0, .175, 1);
}

.switch {
  border-radius: 3rem;
  background: white;
  height: 100%;
}

.switch div {
  width: 100%;
  text-align: center;
  opacity: 0;
  display: block;
  color: black;
  transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
  will-change: opacity;
  position: absolute;
  top: 0;
  left: 0;
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper {
  transform: translateX(0%);
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper {
  transform: translateX(100%);
}

.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
  opacity: 1;
}

.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
  opacity: 1;
}

.btn_style {
  margin-top: 20px;
  border-radius: 10px;
  background-color: white;
  width: 135px;
}

.bannserach {
  margin-top: 10px;
}

.option_item {
  background: white;
  border-radius: 6px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  width: 100px;
  font-size: 10px;
}

.offcanvas-body {
  overflow: hidden !important;
}


@media screen and  (max-width: 1400px) { 
.second-btns{
width: 190px !important;
 }
}