.card {
  box-shadow: none;
}

.header_card {
  background-color: #F3F4F5;
  padding-bottom: 10px;
  padding-top: 15px;
}

.card>ul>li {
  background-color: #A30808;
}

.overal_Card {
  padding: 40px 18px 20px 18px
}

.input_style {
  border: none;
  background: none;
}

.editIcon {
  background: none;
  border: none;
}

ul>li {
  margin: 0px;
}

.read_only {
  background-color: #e1e1e1;
}

.list-group {
  border: 1px solid #B8B8B840;
}

.otp_Input {
  width: 100%;
  height: 42px;
  border: none;
  box-shadow: 1px 1px 10px 0px #00000033;
  border-radius: 6px;
}

.card_design {
  width: 100%;
  padding: 15px 18px 20px 18px;
}

p>a {
  text-decoration: underline;
  color: #A30808;
  font-weight: bold;
}

.btn-primary,
.btn-primary:active {
  background-color: #A30808;
  border: #A30808;
}
@media (max-width:768px) {
  .phnum{
    align-items: flex-start !important;
  }
}
 @media (max-width:992px) {
  input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 240px !important;
  }
} 
input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.textareaInput{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  //width: 300px;
}
