<div class="overall">
  <div>
    <app-card-details [ImageSelect]="edit" [user]="imageBase64" (imageUpdated)="onImageUpdated($event)"></app-card-details>
  </div>
  <div class="container overal_Card">
    <div class="card" style="width: 100%; height: 100%;">
      <div class="card-header header_card d-flex justify-content-between">
        <h5>Contact Information</h5>
        <button class="editIcon" *ngIf="edit" (click)="enableForm()"> <img
            src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Vector2.png"></button>
        <button class="editIcon" *ngIf="submits" (click)="submit()"> <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Group.png"
            alt=""> </button>
      </div>
      <div>
        <form [formGroup]="accountForm" class="container p-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex flex-column flex-md-row">
              <p class="col-md-6 mb-2 mb-md-0">First Name<span style="color: red;">*</span></p>
              <input class="col-md-6 input_style" required formControlName="firstName" type="text" />
            </li>
            <li class="list-group-item d-flex flex-column flex-md-row">
              <p class="col-md-6 mb-2 mb-md-0">Last Name<span style="color: red;">*</span></p>
              <input class="col-md-6 input_style" required formControlName="lastName" type="text" />
            </li>
            <li class="list-group-item d-flex flex-column flex-md-row align-items-center phnum">
              <p class="col-md-6 mb-2 mb-md-0">Phone Number</p>
              <div class="col-md-6 d-flex align-items-center">
                <input class="input_style read_only flex-grow-1" readonly formControlName="phoneNbr" type="text" />
                <img *ngIf="verifiedButton" style="height: 32px; width: 35px;margin: 10px;" data-toggle="modal" data-target="#secondmodel" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/PhoneNumberRest.png" alt="" />
              </div>
            </li>
            <li class="list-group-item d-flex flex-column flex-md-row">
              <p class="col-md-6 mb-2 mb-md-0">Organization Name<span style="color: red;">*</span></p>
              <input class="col-md-6 input_style" required formControlName="clientName" type="text" />
            </li>
            <li class="list-group-item d-flex flex-column flex-md-row">
              <p class="col-md-6 mb-2 mb-md-0">Address<span style="color: red;">*</span></p>
              <textarea required class="col-md-6 input_style textareaInput" style="resize: none;" formControlName="address" maxlength="150" type="text"></textarea>
              <div *ngIf="accountForm.get('address')?.errors?.['maxlength']" class="invalid-feedback"> 
                Organization Address cannot exceed 150 characters
              </div>
              
            </li>
          </ul>
        </form>
        
      </div>
      <div class="Model_box_For_Rest_Email">
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close border-0" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <p>The email containing the password reset link has been sent to your email address</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="passwordReset()">Confirm</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Model_box_For_Rest_Email">
        <div class="modal fade" #myModal id="secondmodel" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle"  data-backdrop="static"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button (click)="closemodal()" type="button" class="close border-0" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div>
                  <div>
                    <div>
                      <label for="newPhoneNumber" style="display: block; height: 44px;width: 100%;">New Phone
                        Number:</label>
                      <input type="text" class="otp_Input mb-2" id="newPhoneNumber" [(ngModel)]="newPhoneNumber"
                        placeholder=" Enter Number"(input)="validateNumberInput($event)" inputmode="numeric" maxlength="13">
                    </div>
                    <div *ngIf="verificationId">
                      <label for="verificationCode" style="display: block; height: 44px;width: 100%;">Verification
                        Code:</label>
                      <input type="text" class="otp_Input mb-2" id="verificationCode" [(ngModel)]="verificationCode"
                        placeholder="Enter verification code">
                    </div>
                    <div *ngIf="!verificationId" id="recaptcha-container"></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div *ngIf="!verificationId">
                    <button class="btn btn-primary" (click)="verifyPhoneNumber()">Send Verification Code</button>
                  </div>
                  <div *ngIf="verificationId">
                    <button class="btn btn-primary" [attr.data-dismiss]="datadismiss" [attr.aria-label]="arialabel"
                      (click)="updatePhoneNumber()">Update Phone Number</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card_design">
    <div>
      <div class="card-header header_card d-flex justify-content-between ">
        <h5>Security Information</h5>
      </div>
      <div>
        <form>
          <ul class="list-group ">
            <li class="list-group-item d-flex row rounded-0">
              <p class="col p-0"> <a href="" class="font-weight-bold" data-toggle="modal"
                  data-target="#exampleModalCenter">Click Here</a> to reset your password</p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>