<hr style="border-color:  rgba(0, 0, 0, 1);padding: 0px;border-top-width: 1px;margin-top: 0px !important;">
<div class="content_div">
  <div class="container mobilepadding" style="padding: 0px 70px 0px 70px">
    <div class="content">
      <p class="text-center mainhead" style="color: rgba(0, 0, 0, 1);">Fundamental Policy for Information Security</p>
    </div>
    <div class="content">
      <p class="subheader">
        <span class="companyName"> SOLIZE India Technologies Private Limited</span> Fundamental Policy for Information Security</p>
      <p class="paragra">The <span class="companyName"> SOLIZE India Technologies Private Limited</span>(hereinafter referred to as our company) has established this fundamental policy for
        information security in order to contribute to societal progress through better service. We securely protect all
        information assets, and conduct our business in a way that can always obtain our customers’ peace of mind and
        trust.
      </p>
      <br>
      <ol class="liparagra">
        <li>We will establish internal regulations according to this fundamental policy, and do business accordingly.
        </li>
        <li>We will comply with laws, guidelines established by Japanese government, other social norms, and contracts
          with customers.</li>
        <li>We will clarify our responsibilities and roles concerning information security, and establish an information
          security management system.</li>
        <li>We will conduct internal audits on information security, and continually review and improve upon it.</li>
        <li>We will continually conduct training and guidance which contributes to the improvement of information
          security.</li>
        <li>We will ensure protection of information assets by establishing an information security management system
          (ISMS).</li>
        <li>e will thoroughly enforce adherence to this policy, ensuring that every employee is made aware of the above
          and behaves responsibly.</li>
      </ol>
    </div>
    <br>
    <div class="content">
      <p class="subheader">Scope of Certifications</p>
      <p class="paragra">Our company has obtained ISO/IEC27001 certification (an international standard for information
        security management systems) at the following businesses:
      </p>
      <ul class="liparagra">
        <li>
          <span class="companyName"> SOLIZE India Technologies Private Limited</span> Innovations Business Unit<br>
          Business reform in design and development area, production technology and mold area, and operation area.
        </li>
        <li>Digital-Driven Engineering Business Unit<br>
          Contract development in design and development area and system development area.
        </li>
        <li>MBSE Business Unit<br>
          Contract development and business reform in design and development area and system development area.</li>
      </ul>
      <br>
    </div>
  </div>
</div>