<div class="imagediv position-relative d-flex align-items-center justify-content-center text-center">
    <img class="postArticleImage" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/contactUsBanner.jpg" width="100%" alt="" style=" filter: brightness(0.5);
      height: 330px;
    background-position: center !important;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;">
    <div class="centered-text">Post / Article</div>
</div>
<div class="breadcrumbs">
    <div class="background tagtitle">
        <div class="d-flex container-fluid">
            <p class="m-0 breadcrumbs-text" style="cursor: pointer;" [routerLink]="['/landing'] ">Home > &nbsp; </p>
            <p class="m-0 breadcrumbs-text" style="cursor: pointer;" [routerLink]="['/post-article']">Post/Article
                >&nbsp;</p>
            <p class="active-breadcrumbs breadcrumbs-text" style="margin: 0px 5px;">{{articleData?.articleName}}</p>
        </div>
    </div>
</div>
<div class="content_div">
    <div class="container">
        <div class="content pb-0">
            <h1 class="text-center mainhead"><b>Post / Article</b></h1>
        </div>
        <hr>
    </div>
<div class="container mobilePadd" id="dataToExport" style="padding: 0px 73px 16px 80px;" #dataToExport>
    <div class="row">
    <div class="col">
    <div>
        <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/article-icon.png">&nbsp;&nbsp;<a>{{articleData?.articleTypeDTO?.articleTypeName}}</a>
    </div>
    <div class="title subheader" style="line-height: 37.5px;">{{articleData?.articleName}}</div>
    <div class="subtitle subheader" style="color: #9E9191;line-height: 37.5px;font-size: 20px !important;">{{articleData?.organizationName}}</div>
    <div class="tags px-1">
        <div *ngFor="let tag of articleData?.articlesTagDTOs" class="tag text-left">
            {{tag.articleTagName}}
          </div>
    </div>
</div>
</div>
</div>
    <div class="container-fluid" style="background-color: #F1F3F6;">
        <div class="container mobilePadd" style="padding: 10px 73px 7px 80px;">
            <div class="title" style="font-size: 20px; line-height: 21px;color: rgba(158, 145, 145, 1);">Author</div>
            <h3 style="font-size: 22px;line-height: 37.5px;font-weight: 300;color: rgba(13, 13, 13, 1);">{{ articleData?.authorName }}</h3>
            <h5 style="color: #615959;font-size: 16px;line-height: 21px;">{{ articleData?.designation }}&nbsp;{{ articleData?.organizationName }}<hr></h5>
            <h5 style="color: #615959;font-size: 14px;line-height: 21px;"> {{ articleData?.aboutArticles }}</h5>
        </div>
    </div>
    <div class="container mobilePadd" id="dataToExport" style="padding: 20px 73px;" #dataToExport>
    <div class="row">
        <div class="col">
            <div class="container-fluid border pt-60 pb-40" *ngIf="!domContent; else article_content">
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center" style="height: 100%;">
                        <p class="text-center margin-auto" style="padding: 20px;">{{apiDelayResponse}}</p>
                    </div>
                </div>
            </div>
            <ng-template #article_content>
                <div class="text" [innerHTML]="htmlContent"></div>
            </ng-template>
        </div>
    </div>
</div>
