.tagtitle {
  background: #F1F3F6;
  padding: 7px;
}

.tags {
  display: flex;
  gap: 30px;
}

.tag {
  float: left;
  background-color: #E5E5E5;
  padding: 5px 15px 5px 5px;
  border-radius: 3px;
  display: flex;
  position: relative;
  // margin-bottom: 10px;
  text-wrap: nowrap;
}

.tag::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #444;
  border-radius: 3px 0 0 3px;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px !important;
  gap: 30px !important;
  overflow: hidden;
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}

.content {
  padding: 15px;
}

@media (min-width: 600px) {
  .post {
    flex-direction: row;
  }

  .post img {
    width: 200px;
    height: auto;
  }

  .content {
    flex: 1;
  }
}

.fixed-width-container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 15px;
}

@media (max-width: 1050px) {
  .fixed-width-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .fixed-width-container {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .tagtitle {
    display: none !important;
  }
  .mobilePadd{
    padding: 0px 15px !important;
  }

  .postArticleImage {
    z-index: 0 !important;
    height: 0% !important;
  }

  .imagediv .centered-text {
    font-size: 25px !important;
  }
}


.text-center img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 52.5px;
}