<form (ngSubmit)="submit()">
  <div class="auth-main">
    <div class="auth-wrapper v3 ">
      <div class="auth-form">
        <div class="background-img">
          <div>
            <div class="card my-5 container-fluid">
              <div class="card-body">
                <div class="background-image"></div>
                <a href="#" class="d-flex justify-content-center"></a>
                <div class="frame468" style="display: none;">
                  <div class="log_main1" style="display: none;">
                  </div>
                </div><br><br><br>
                <div class="omrs-input-group">
                  <label class="omrs-input-underlined">
                    <div class="inputField2">
                      <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M19.5556 18.6667H2.44444V2.33333H19.5556M19.5556 0H2.44444C1.79614 0 1.17438 0.245833 0.715961 0.683417C0.257539 1.121 0 1.71449 0 2.33333V18.6667C0 19.2855 0.257539 19.879 0.715961 20.3166C1.17438 20.7542 1.79614 21 2.44444 21H19.5556C20.2039 21 20.8256 20.7542 21.284 20.3166C21.7425 19.879 22 19.2855 22 18.6667V2.33333C22 1.71449 21.7425 1.121 21.284 0.683417C20.8256 0.245833 20.2039 0 19.5556 0ZM16.5 15.4583C16.5 13.7083 12.8333 12.8333 11 12.8333C9.16667 12.8333 5.5 13.7083 5.5 15.4583V16.3333H16.5M11 10.7917C11.7293 10.7917 12.4288 10.5151 12.9445 10.0228C13.4603 9.53054 13.75 8.86286 13.75 8.16667C13.75 7.47047 13.4603 6.80279 12.9445 6.31051C12.4288 5.81823 11.7293 5.54167 11 5.54167C10.2707 5.54167 9.57118 5.81823 9.05546 6.31051C8.53973 6.80279 8.25 7.47047 8.25 8.16667C8.25 8.86286 8.53973 9.53054 9.05546 10.0228C9.57118 10.5151 10.2707 10.7917 11 10.7917Z"
                          fill="#A6A9AB" />
                      </svg>
                      <input type="email" class="form-control email_input" [(ngModel)]="email" id="floatingInput"
                        placeholder="" name="email" required />
                      <span class="omrs-input-label">Email ID</span>
                    </div>
                  </label>
                </div><br>
                <p *ngIf="!submits" style="font-size: 14px;">The email containing the password reset link has been sent
                  to your email address.</p>
                <p *ngIf="submits" style="font-size: 14px;">Please provide the email address associated with your
                  account.</p>
                <div class="d-grid mt-4">
                  <button type="submit" class="button btn-redColor">Submit</button>
                </div><br><br>
              </div>
            </div>
            <p class="text-center" style="color:#FFFFFF; font-size: 17px;">&#64; 2024 solize india technologies, pvt
              Ltd. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>