.learnMore1 {
    background: #D7181F;
    width: 132px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    position: relative;
    cursor: default;
    box-shadow: 0 3px 1px 1px rgba(12, 5, 4, 0.1);
}

.learnMore2 {
    background: #D7181F;
    width: 132px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    position: relative;
    cursor: default;
    cursor: default;
    box-shadow: 0 3px 1px 1px rgba(12, 5, 4, 0.1);
}

.learnMore3 {
    background: #D7181F;
    width: 132px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    cursor: default;
    position: relative;
    cursor: default;
    box-shadow: 0 3px 1px 1px rgba(12, 5, 4, 0.1);
}

.headimg {
    border-radius: 40px;
    width: 108%;
    max-width: 87rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    left: 76px;
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    .headimg {
        right: 0;
    }
}

.image1 {
    border-radius: 30px;
    width: 100%;
    position: relative;
    right: 40px
}

.image2 {
    width: 100%;
    position: relative;
    left: 15px;
    border-radius: 30px;
}

.image3 {
    border-radius: 30px;
    width: 100%;
    position: relative;
    left: 58px
}

.news {
    margin-top: 15px;
    margin-left: 23px;
}

.para1 {
    position: relative;
    right: 36px;
}

.para2 {
    position: relative;
    left: 20px;
}

.para3 {
    position: relative;
    left: 66px;
}

.news-item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.news-date {
    margin-top: -84px;
    color: #fff;
    background: #000;
    z-index: 1000;
    padding: 10px;
    position: absolute;
    margin-left: -26px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 0px;
    transform: rotate(-90deg);
}

.news-date4 {
    margin-top: -83px;
    color: #fff;
    background: #000;
    z-index: 1000;
    padding: 10px;
    position: absolute;
    margin-left: -27px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-left: 0px;
    transform: rotate(-90deg);
}

.news4-img {
    border-radius: 20px;
}

.border-40 {
    border-radius: 40px;
}

@media (min-width: 769px) {
    .crousel_Image {
        object-fit: cover;
    }
}

app-header {
    z-index: 1;
    position: relative;
}
.carousel-item.active {
    transition: transform 0.5s ease-in-out;
  }
.carousel-indicators li {
    color: transparent;
    width: "20px";
    height: "20px";
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #7c7777;
}

.carousel-indicator {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.bottom-left {
    position: absolute;
    bottom: 95px;
    left: 39px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px black;
    word-spacing: 3px;
    font-weight: 500;
}

.question_div>.container>.row>.col {
    padding: 25px;
}

.news-content {
    margin: auto;
}

.crisp-edges {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.firstcard {
    width: 100%;
    height: 340px;
    border-radius: 0px !important;
}

.firstcard:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.firstcard:hover .card-header>img {
    transform: scale(1.2);
}

.details_btn {
    background-color: #000000;
    color: #FFFFFF;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px #00000040;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-2 {
    width: 375px;
    height: 250px;
    border: 1px solid #0000001A;
    box-shadow: 1px 1px 1px 1px #0000001A;
}

.cardbody-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cardbody-2>h3 {
    padding: 8px 0px;
}

.text_carousel>h1 {
    color: #FFFFFF;
}

.show--consent #cc-main .cc--anim .cm {
    opacity: 0.5 !important;
}

.card-header {
    padding: 0px;
    height: 164px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0px;
}

.centered-text {
    position: absolute;
    top: 44%;
    left: 22%;
    transform: translate(-12%, -30%);
    color: white;
    font-size: 23px;
    text-align: center;
}

.p_dot {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-bottom: 0px;
}

.center_img {
    position: absolute;
    bottom: 45%;
    left: 41%;
}

.about_div {
    width: 100%;
    height: 100%;
    padding: 25px;
    border-bottom: 1px solid #d6d6d6;
    background-image: url(https://solizecorporateweb.s3.amazonaws.com/client/asset/images/AboutsolutionBackground.png);
}

.letter {
    color: #FFFFFF;
}

.quesCard {
    background-color: #D3D4D1BF;
    width: 100%;
    padding: 11px;
    box-shadow: none !important;
    margin-bottom: 10px;
}

.body-style {
    padding-right: 9px;
    padding-left: 9px;
}

.btn-light {
    background-color: #C10110;
    margin-left: auto;
    color: #fff;
    gap: 15px;
    height: 50px;
    width: 270px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.btn-redColor:hover {
    background-color: #a41e29;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card_col {
    padding-left: 48px;
    padding: 20px;
    display: flex;
}

.cardbody {
    padding: 0px 0px 0px 0px;
}

h3 {
    font-size: 18px;
}

.containers {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    color: #FFF0F0;
}

.scrolling-text {
    white-space: nowrap;
}

.textscroll {
    color: #d6d6d6;
}

.scrolling-text:hover,
.containers:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.quesCard {
    width: 100% !important;
}

@media screen and (max-width: 992px) {
    .firstImagediv {
        width: 100%;
        height: 0%;
    }

    .firstImagediv_col {
        display: flex;
        justify-content: center;
    }

    .images>img {
        width: 50px !important;
    }

    .card_heading {
        font-size: 15px;
    }

    .card_para {
        font-size: 13px;
    }

    .card_col {
        justify-content: center !important;
    }

    .awardRecognition {
        height: 100% !important;
    }

    .awardRecognition>.row {
        display: flex;
        flex-direction: column;
    }

    .lettercontentContainer>.row {
        display: flex;
        flex-direction: column;
        padding: 5px !important;
    }

    .awardImage>img {
        height: 100%;
        width: 100% !important;
    }

    .question_div>.container>.row>.col {
        padding: 0px !important;
    }

    .num-1 {
        width: 120px !important;
        background-color: #fff;
        font-size: 30px !important;
        border-radius: 50px;
    }

    .num-2 {
        width: 120px !important;
        background-color: #fff;
        font-size: 30px !important;
        border-radius: 50px;
    }

    .countDiv>.row>.col {
        gap: 10px !important;
        padding: 8px !important;
    }

    .border-line {

        display: none !important;
    }
    .padForMobile{
        padding: 0px !important;
    }
    .qestionhead{
        height: auto !important;
    }

}

.section-title {
    font-weight: 550;
    font-size: 25px;
    position: relative;
}

.section-description {
    position: relative;
    font-size: 16px;
    margin-bottom: 20px;
}

.card_heading {
    font-weight: 600;
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.card_para {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.images>img {
    width: 60px;
}

.card-header>img {
    transition: transform .2s;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    object-fit: cover;
    transition: all .3s ease;
}

.letterContent {
    color: #FFFFFF;
    background-repeat: round;
    background-image: url(https://solizecorporateweb.s3.amazonaws.com/client/asset/images/solizeIndiaBanner.png);
}

.letterContent>p,
.letterContent>h3 {
    color: #FFFFFF;
}

.lettercontentContainer {
    padding: 0px 50px 0px 50px;
}

.awardRecognition {
    height: 350px;

}

.awardRecognition>.row>.col {
    padding: 0px;
}

.awardImage {
    height: 350px;
    position: relative;
}

.countDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countDiv>.row>.col {
    width: 220px;
    height: 220px;
    background: #0A0A0A40;
    border: 1px solid #ffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}

.countDiv2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countDiv2>.row>.col {
    width: 220px;
    height: 190px;
    background: #0A0A0A40;
    border: 1px solid #ffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.num-1 {
    width: 120px;
    background-color: #fff;
    font-size: 25px;
    border-radius: 50px;
}

.num-2 {
    width: 150px;
    background-color: #fff;
    font-size: 25px;
    border-radius: 50px;
}

.total-1 {
    color: #FFF0F0;
    text-wrap: nowrap;
}

.total-2 {
    color: #FFF0F0;
}

.CaseSteadyImage {
    height: 325px;
    position: relative;
    overflow: hidden;
}

.caseContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.carousel-control-next {
    right: -110px !important;
}

.carousel-control-prev {
    left: -110px !important;
}

.awardImage>img {
    height: 100%;
    width: 100%;
}

.cardImage {
    width: 300px;
    height: 171px;
    border: 3px solid #31313133;
    box-shadow: 0px 2px 2px 0px #0000001A;
    margin: 0px;
}

.cardImage>img {
    width: 100%;
    height: 100%;
}
.discovercard:hover .title {
    color: red !important;
  }
.tags {
    display: flex;
    gap: 10px;
  }

  .tag {
    float: left;
    background-color: #E5E5E5;
    padding: 5px 15px 5px 5px;
    border-radius: 3px;
    display: flex;
    position: relative;
    // margin-bottom: 10px;
    text-wrap: wrap;
  }

  .tag::before {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #444;
    border-radius: 3px 0 0 3px;
  }

.btn-discovermore {
    background: #C10110;
    border: 1px solid #61595980;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 7px;
}

.discovermore {
    display: flex;
    justify-content: end;
}

.cardbox {
    text-align: center;
    height: 250px;
}

.about-subheading {
    font-weight: 600;
    font-size: 32px;
}

.heading {
    font-size: 25px;

}

.award-name {
    font-weight: 700;
    height: 45px;
    font-size: 30px;
}

.featured {
    color: #FFFFFF;
    text-align: center;
    font-size: 32px !important;
    margin-bottom: 25px;
    text-wrap: nowrap;
}

@media (max-width: 992px) {
    .about-subheading {
        font-size: 32px !important;
        font-weight: 600 !important;
    }

    .heading {
        font-size: 25px !important;
    }

    .carousel-item>.cardsz>.card {
        // width: 700px !important;
    }

    .featured {
        font-size: 30px !important;
    }

    .CaseSteadyImage {
        height: 550px !important;
        position: relative;
        overflow: hidden;
    }

    .lettercontentContainer {
        padding: 0px 42px 0px 20px;
    }

    .question_div>.container {
        padding: 0px !important;
    }

    .awardRecognitionMobile {
        display: block !important;
    }

    .awardRecognitionWeb {
        display: none !important;
    }

    .cardbox {
        text-align: center;
        height: 220px;
    }

    .carousel-control-next {
        right: -80px !important;
    }

    .carousel-control-prev {
        left: -80px !important;
    }



    .award-name {
        font-size: 25px !important;
        text-wrap: nowrap !important;
    }

    .total-h {
        text-wrap: nowrap;
        font-size: 20px !important;
    }

    .container1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .space2 {
        margin-bottom: 0.5rem !important;
        margin-top: 0.5rem !important;
    }

    .sl-space {
        padding-left: 9px;
    }
    .mobileh3{
        font-size: 18px !important;
        width: 185px !important;
    }
    .btn-discovermore{
        width: 160px !important ;
        text-wrap: nowrap;
    }
}

.awardRecognitionMobile {
    display: none;
}

@media (min-width: 992px) and (max-width:1060px) {
    .countDiv>.row>.col {
        width: 100% !important;
    }

    .countDiv2>.row>.col {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .space1 {
        height: 100% !important;
    }
}

.tag-container {
    display: flex;
    justify-content: flex-end;
}

.tag-wrapper {
    text-wrap: nowrap;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.productTag {
    float: left;
    margin-right: 10px;
    background: #E5E5E5;
    padding: 6px 10px;
    border-left: 5px solid #00000080;
    border-radius: 0px 5px 5px 0px;
}

.border-line {
    border-right: 2px solid #AFACAC;
    margin: auto;
    height: 175px;
    opacity: 0.3;
}

.countDiv .row {
    display: flex;
    flex-wrap: wrap;
    width: 484px;
    height: 220px;
    margin: 0 auto;
}

.countDiv2 .row {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 220px;
    margin: 0 auto;
}

@media (max-width:600px) {
    .countDiv {
        width: 440px;
        height: 200px;
    }

    .countDiv>.row {
        width: 100% !important;
        height: 100% !important;
        display: flex;
        flex-wrap: wrap;
    }

    .countDiv>.row>.col {
        width: 130px !important;
        height: 100% !important
    }

    .countDiv2>.row {
        width: 370px !important;
        height: 160px !important;
        display: flex;
        flex-wrap: wrap;
    }

    .countDiv2>.row>.col {
        width: 130px !important;
        height: 160px !important
    }
}

@media (max-width: 992px) {
    .imagcontainer {
        height: 250px !important;
        width: 250px !important;

    }

    .imagcontainer2 {
        height: 130px !important;
    }

    .cardbox {
        height: 300px !important;
    }

    .about2 {
        text-align: center !important;
    }
    .description>p{
        font-size: 20px !important;
    }
}

.AwardsContent {
    padding: 10px;
}

.AwardsContent h2 {
    font-weight: 700;
    height: 45px;
}
.AwardsContentMobile{
    background-image: url(https://solizecorporateweb.s3.amazonaws.com/client/asset/images/awardbackgroundMoible.png);
}

.cardbox {
    text-align: center;
}

.imagcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 100%;
    margin-bottom: 0px;
}

.imagcontainer img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.imagcontainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    margin-bottom: 10px;
}

.imagcontainer2 img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.description p {
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    text-wrap: nowrap;
}

.description2 p {
    color: #000000;
    font-weight: 600;
    font-size: 12px;
}

.border-line {
    border-right: 1px solid #ccc;
    margin: 0 10px;
}

.question_div {
    background-image: url(https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whysolizeBackground.png);
}

// awardWeb
.awardRecognition2 {
    height: 320px;
    background-image: url(https://solizecorporateweb.s3.amazonaws.com/client/asset/images/AwardRecogationBanner.png);
    background-size: cover;
    background-position: center;
}

@media (max-width: 500px) {
    .carousel-item>.cardsz>.card {
        // width: 280px !important;
    }

    .cardImage {
        width: 215px;
        height: 130px;
        }

    .container2 {
        width: 300px
    }

    .carousel-control-prev-icon {
        width: 50px !important;
        height: 35px !important;
    }

    .carousel-control-next-icon {
        width: 50px !important;
        height: 35px !important;
    }

    .carousel-control-next {
        right: -60px !important;
    }

    .carousel-control-prev {
        left: -60px !important;
    }

    .num-1 {
        width: 120px !important;
        background-color: #fff;
        font-size: 25px !important;
        border-radius: 50px;
        height: 49px !important;
    }

    .num-2 {
        width: 120px !important;
        background-color: #fff;
        font-size: 25px !important;
        border-radius: 50px;
        height: 49px !important;
    }

    .countDiv {
        width: 310px !important;
        height: 135px !important
    }

    .countDiv>.row>.col {
        width: 130px !important;
        height: 135px !important
    }

    .countDiv>.row {
        width: 310px !important;
        height: 130px !important;
        display: flex;
        flex-wrap: wrap;
    }

    .total-h {
        text-wrap: nowrap;
        font-size: 15px !important;
    }

    .serv {
        font-size: 25px !important;
    }

    .service-row {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}

@media (min-width:500px) and (max-width:768px) {
    .service-card {
        max-width: 356px !important;
        margin: auto !important;
    }
}

@media (min-width:497px) and (max-width:992px) {
    .question_div>.container>.row>.col {
        position: relative !important;
        right: 25px !important;
    }
}
.container1{
padding-left: 70px;
padding-right: 70px;
}
.icon-img{
    width: 25px;
    padding-top: 4px;
}
@media (min-width:1000px) {
    .cardsz{
        width: 900px !important;
    }
}
@media (min-width:1400px) and (max-width:1700px) {
  .cardsz{
      width: 1112px !important;
  }
  .cardImage{
    width: 340px !important;
  }
}
@media (max-width: 400px) {
.carousel-control-prev {
    left: -45px !important;
}
.carousel-control-next {
    right: -45px !important;
}
.caseContent{
    width: 250px !important;
}
.cardsz2{
    width: 250px !important;
}
.carousel-item>.cardsz>.card {
    width: 250px !important;
}
.featured{
    font-size: 20px !important;
}
.CaseSteadyImage{
    height: 600px !important;
}
}
@media (min-width:768px) and (max-width:992px) {
    // .carousel-item>.cardsz>.card {
    //     width: 700px !important;
    // }
    // .cardsz2{
    //     width: 700px !important;
    // }
    // .cardsz{
    //     width: 700px !important;
    // }
    // .cardsz2>.col-md-4{
    //     width: 270px !important;
    //     height: 100px !important;
    // }
    // .cardsz2>.col-md-8{
    //     width: 390px !important
    // }
    .cardImage{
        width: 230px;
        height: 130px;
    }
    .cardImage img{
        height: 120px !important;
    }
    .cardsz{
        width: 700px !important;
    }
}

.qestionhead{
    background: rgba(255, 255, 255, 1);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 140px;
}
@media (min-width:401px) and (max-width:767px){
    .cardImage {
        width: 100%;
        height: 100%;

    }
    .cardImage img{
        height: 100% !important;
    }
}
.caseSteadyCoursuel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .hide-data{
    cursor: pointer;
  }
  .hide-data:hover{
    text-decoration: underline;
  }
