footer {
  padding: 20px 0px 12px 10px;
  background-color: #000000;
}

.nav-link {
  color: #FFFFFF;
  position: relative;
  font-size: 16px;
  padding: 0px;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    padding: 8px 0px 12px 10px !important;
  }

  .nav-link {
    display: block;
    margin-top: 5px;
    font-size: 15px !important;
  }
}

.rights_div>p {
  margin: 0px;
  padding: 9px 0px;
  margin-top: 5px;
}

.line {
  position: absolute;
  width: 100%;
  background: #FFFFFF30;
  height: 1px;
}

.text-white {
  position: relative;
}

.container {
  padding: 0px 70px;
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0px 0px;
  }

  .nav {
    align-items: baseline !important;
  }

  .nav1 {
    flex-direction: column !important;
  }

  .secondNav {
    gap: 0px !important;
  }

  .line {
    position: absolute;
    width: 100% !important;
    background: rgba(255, 255, 255, 0.1882352941) !important;
    height: 1px !important;
    top: 84% !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
  }
  .scroll-to-top{
    bottom: 15px !important;
    right: 12px !important;
}
.Rights{
  font-size: 13px !important;
}
}

@media screen and (max-width:350px ) {
  .line {
    position: absolute;
    width: 100% !important;
    background: rgba(255, 255, 255, 0.1882352941) !important;
    height: 1px !important;
    top: 80% !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
  }
}



.scroll-to-top {
  position: fixed;
  bottom: 95px;
  right: 15px;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  background-color: none;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 2px 4px 2px 0px #FFFFFF40;
  opacity: 1;
  transition: background-color 0.5s ease;
}

.scroll-to-top:hover {
  background-color: rgb(56, 47, 47);
}

.nav-link:hover {
  color: #FFFFFF !important;
  text-decoration: underline;
}

.nav-link:hover,
.nav-link:focus {
  color: #FFFFFF !important;
}