<hr style="border-color:  rgba(0, 0, 0, 1);padding: 0px;border-top-width: 1px; margin-top: 0px !important;">
<div class="content_div">
  <div class="container mobilepadding" style="padding: 0px 70px 0px 70px;">
    <div class="content">
      <p class="text-center" style="font-weight: 600;font-size: 32px;color: rgba(0, 0, 0, 1);">Privacy Policy</p>
      <p style="font-size: 16px; font-weight: 300;">
        At 
        <span class="companyName"> SOLIZE India Technologies Private Limited</span> (hereinafter referred to as SOL), we recognize the importance of
        protecting your personal information and are committed to process it responsibly in compliance with applicable
        data protections law.
      </p>
    </div>
    <div class="content">
      <p class="contenthead">Scope:</p>
      <p class="paragra">This privacy policy provides information on the collection, use, sharing etc. as of personal
        information by SOL, its affiliates and branch offices, holding Company, fellow subsidiaries/associates
        (collectively referred to as SOL) of its employees (current or former employees, trainees), customers, partners,
        contractors, vendors, current and former members of Board of Directors.</p>
      <p class="paragra">Generally, you can visit our website without providing any personal data about yourself.
        However, if there is any request for certain specific information or services, we may need to collect personal
        data from you.
      </p>
      <p class="paragra">Further, while interacting with our websites, you also have the ability to link or connect with
        non-SOL websites. If you access those links through SOL website, you will leave the SOL website. SOL does not
        control those sites or their privacy practices, which may differ from SOL website. We encourage you to review
        the privacy policies of these parties before using any features. SOL would not be responsible for the usage of
        your personal data or any information provided to or collected by these websites.</p><br>
    </div>
    <div class="content">
      <p class="contenthead">How We Collect Your Personal Information:</p>
      <p class="paragra">We may collect the following information relating to you:</p>
      <p class="paragra"><b>Offline Information</b> is obtained during the course of interactions with you during
        in-person meetings, when you are in the process of purchase of any product, during conferences or gatherings or
        telephonic interactions;
      </p><br>
      <p class="paragra"><b>Online Information</b> originates from your activities on our website.</p><br>
      <p class="paragra">The websites automatically collect certain technical information relating to the device you use
        to visit the websites. Specifically, we use cookies, and similar technologies to help us understand your
        activity on the websites. We use cookies to personalize content and ads, to provide social media features and to
        analyze our traffic. A “cookie” is a small piece of data that a website can send to your browser, which may then
        be stored on your device. Data that we collect automatically includes your internet protocol (“IP”) address,
        location, your device’s identification information. For further information on the cookies and similar
        technologies we use on our websites and why we use them, please review our Cookie Policy.
      </p><br>
      <p class="paragra"><b>Information that is collected from third party source:</b> You may engage yourself through
        social
        media websites such as LinkedIn. At the time of engagement, you may allow us to have access to certain
        information from your social media profile based upon your privacy preference settings on such platforms.
      </p><br>
      <p class="paragra">Specific pieces of information about you that SOL may collect and process includes:
      </p>
      <ul class="liparagra">
        <li>Name and physical address, email addresses, and telephone/mobile numbers;</li>
        <li>Company data such as the name, designation, address, phone, fax, email;</li>
        <li>Transactional data, including products and services ordered and payment methods;</li>
        <li>Group name, department, organization name, city, URL</li>
      </ul><br>
      <p class="paragra">If you provide us with personal information of third parties (such as the details of your
        administrative assistant or your emergency contact), you agree to: (a) notify each individual before sharing
        their personal information with us, (b) explain that their personal information will be processed in accordance
        with this Privacy Notice, and (c) obtain their consent, where appropriate. SOL will not be responsible if the
        concerned third parties are not informed about the usage of their personal information.</p><br>
    </div>
    <div class="content">
      <p class="contenthead">How Do we Use Your Personal Information:</p>
      <p class="paragra">The personal information we collect may be used to:</p><br>
      <ul class="liparagra">
        <li>Provide information and services as requested by you.</li>
        <li>Provide better services and generate demand</li>
        <li>Access website performance and usage analysis.</li>
        <li>Complay with applicable laws and regulations and to operate our business.</li>
        <li>Delivering information on services and products provided by each group company, or on the hosting of events
          and campaigns.</li>
        <li>Conduct survey and research for product development or consideration of measures to improve customer
          satisfaction in each group company.</li>
        <li>Delivery of products, invoicing, service and support offering.</li>
        <li>Conducting recruitment information activities in each group company, including internships, industry
          seminars, and company information sessions, as well as employment selections, operations related to overall
          employment activities (including communications after an informal job offer), and tasks related to personnel
          management after hiring.</li>
        <li>Conduct processing necessary to fulfill other contractual obligations for the individual.</li>
        <li>Market products and services based on legitimate business interest under the applicable law.</li>
      </ul><br>
      <p class="paragra">With your consent, we may also use your personal information for additional purposes. Instances
        where sensitive personal information is collected will warrant explicit consent and SOL will take the necessary
        steps to inform you of the same as may be required. Unless it is necessary for our legitimate business purposes,
        should you choose not to provide any personal information during certain activity, you will nevertheless be able
        to continue with such activity wherever possible.</p><br>
    </div>
    <div class="content">
      <p class="contenthead">International Transfers of Your Personal Information:</p>
      <p class="paragra">While we have distinct legal entities i.e. branches, group Companies in many parts of the
        world, SOL may transfer certain personal information across geographical borders to other entities or service
        providers in other countries working on our behalf in accordance with applicable law. For instance, data
        protection law of European Economic Area (EEA) authorizes transfer of personal information:
      </p><br>
      <ul class="liparagra">
        <li>To countries which have been recognized by the European Commission as offering an adequate level of
          protection of personal information.
        </li>
        <li>If appropriate measures in compliance with the European Union data protection legal requirements are in
          place in order to ensure the protection and confidentiality of personal information in the countries that does
          not offer an adequate level of protection.
        </li>
      </ul><br>
      <p class="paragra">The level of protection for personal information is not the same in all countries. However, we
        will take reasonable steps and implement measures as described in this Policy to keep your personal information
        secure.
      </p><br>
      <p class="paragra">SOL may also transfer your personal information to a third party located outside the EEA or
        Japan without having to implement the above measures where any of the following conditions are met:
      </p><br>
      <ul class="liparagra">
        <li>Where consent has been given by the Data subject regarding transfer of his/her personal information.
        </li>
        <li>The information which is to be transferred is available in public domain
        </li>
        <li>Where transfer of personal information is necessary to protect the vital interest of the Data subject (to
          protect the life, body or property of data subject).
        </li>
        <li>Where it is necessary for SOL to establish exercise or defend a legal claim.
        </li>
        <li>Where it is in public interest.
        </li>
        <li>Where it is required to improve public health or for promotion of health growth of children.</li>
      </ul><br>
    </div>
    <div class="content">
      <p class="contenthead">Sharing of Information with Third Parties:</p>
      <p class="paragra">We will not sell your personal information to anyone outside the SOL group companies unless we
        have obtain your consent. However, we may need to disclose your personal information to third parties in the
        following instances:
      </p><br>
      <ul class="liparagra">
        <li>We may share your personal information by other companies within SOL group, which will be used in the manner
          as set out in privacy policy.</li>
        <li>We may share information with statutory authorities, government institutions or other bodies where required
          for compliance with legal requirements.</li>
        <li>We may disclose your personal information to our business partners if it is necessary for providing products
          and services to you, such as for certain software and related services.</li>
        <li>If we make a sale or transfer of assets, or are otherwise involved in a merger or business/asset transfer,
          we may transfer your personal information to one or more third parties as part of that transaction.</li>
        <li>We may share information where we believe it is necessary in order to investigate, prevent, or take action
          against any illegal activities, suspected fraud, situations involving potential threats to the physical safety
          of any person, or as otherwise required by law.</li>
        <li>We may disclose the information to third parties only for legitimate purposes such as our service providers
          and agents for processing of data.</li>
      </ul><br>
    </div>
    <div class="content">
      <p class="contenthead">Data Protection and Confidentiality:</p>
      <p class="paragra">When third parties are given access to personal information, SOL will take appropriate
        contractual, technical and organizational measures designed to ensure that personal information is processed
        only to the extent that such processing is necessary, consistent with this Privacy Policy, and in accordance
        with applicable laws.</p><br>
      <p class="paragra">SOL will take all the reasonable steps to ensure that the information:</p><br>
      <ul class="liparagra">
        <li>Is processed in fair manner.</li>
        <li>Is obtained with the consent of the information provider.</li>
      </ul><br>
    </div>
    <div class="content">
      <p class="contenthead">Your Privacy Rights:</p>
      <p class="paragra"><b>Delete personal information</b><br>
        You can ask us to erase or delete all or some of the information about you, but this right is determined by
        applicable laws and may impact your access to some of our services.
      </p><br>
      <p class="paragra"><b>Change or correct personal information</b><br>
        You can edit some of the information about you. You can also ask us to change, update or fix information about
        you in certain cases, particularly if it is inaccurate</p><br>
      <p class="paragra"><b>Right to object to process the data</b><br>
        You have the right to object to our processing of your personal information or you can ask us to stop using some
        of the information about you or to limit our use of it</p><br>
      <p class="paragra"><b>Right to restrict processing</b><br>
        You have the right to request to restrict the processing of your personal data under certain circumstances</p>
      <br>
      <p class="paragra"><b>Right to withdraw consent</b><br>
        You have the right to withdraw your consent at any point of time.
      </p><br>
      <p class="paragra"><b>Right for data portability</b><br>
        You have the right to demand data portability for legal reasons.</p><br>
    </div>
    <div class="content">
      <p class="contenthead">Retain Your Personal Information:</p>
      <p class="paragra">Your personal information will be retained only for so long as reasonably necessary for the
        purposes set out in this Privacy Notice in accordance with applicable laws, including for the purposes of
        satisfying any legal, regulatory, accounting or reporting requirements.</p><br>
    </div>
    <div class="content">
      <p class="contenthead">Purpose for Processing Your Personal Information:</p>
      <p class="paragra">In order to communicate adequately with you and to respond to your query, we need to process
        information about you and therefore have a legitimate interest in processing this information.</p>
      <p class="paragra">We may process your personal information if you consent to such processing. You have the right
        to withdraw your consent at any point of time. Please note that even after withdrawal of your consent we may be
        entitled to continue processing your personal information if other legal grounds apply.</p>
      <p class="paragra">In order to engage in transactions with customers, suppliers and business partners, we need to
        process information about you as necessary to enter into or perform a contract with you.</p><br>
    </div>
    <div class="content">
      <p class="contenthead">Changes to the Privacy Policy:</p>
      <p class="paragra">We may update and change this privacy policy from time to time. Any changes to Privacy Policy
        will be posted on this page. Please regularly check this Privacy Policy to ensure you are aware of the latest
        updates with respect to the same.</p><br>
    </div>
    <div class="content"></div>
    <p class="contenthead">Contact Us:</p>
    <p class="paragra">If you believe your personal information has been used in a way that is not consistent with the
      Privacy Policy or your choices, or if you have further questions, comments or suggestions related to this Privacy
      Policy, please fill out the enquiry form or contact us by writing to:
    </p><br>
    <p class="paragra">
      <span class="companyName"> SOLIZE India Technologies Private Limited</span>
    </p><br>
    <p class="paragra">
      Address: 2nd Floor, Unit Nos. 201-B & 202, Brigade Opus, No. 70/401, Kodigehalli Gate, Hebbal, Bangalore- 560092,
      India
      <br>Phone: +91 80 41782000
      <br>Fax: +91 80 41782001
      <br>E-mail: contact.sid@solize.com
      <br>We will endeavor to respond to your request, subject to reasonable limitations provided by law, unless it
      infringes on the privacy of other individuals.
    </p><br>
    <p class="paragra">If we are unable to entertain your request, we will provide you with the reason for refusal and
      inform you of any exceptions relied upon.
    </p><br>
    <p class="paragra">Supplementary Provisions:<br>
      Established and implemented on April 1, 2013<br>
      Revised on September 4, 2019<br>
      Revised on June 30, 2020</p><br>
  </div>