<hr style="border-color:  rgba(0, 0, 0, 1);padding: 0px;border-top-width: 1px;margin-top: 0px !important;">
<div class="container mobilepadding" style="padding: 0px 70px 0px 70px">
  <div class="content">
    <p class="text-center mainhead" style="color: rgba(0, 0, 0, 1);">About this Site</p>
  </div>
  <div class="content">
    <p class="contenthead">Introduction</p>
    <p class="paragra">This site is operated and managed by the 
      <span class="companyName"> SOLIZE India Technologies Private Limited</span> (hereinafter referred to as “our company”).</p>
    <p class="paragra">Please review and consent to the following terms of use before browsing our website. Please
      acknowledge that by continuing, you consent to these terms and conditions.</p>
    <br>
    <p class="contenthead">System Requirements</p>
    <p class="paragra">We recommend you view this site using the following browsers:
    </p>
    <p class="paragra">PC</p>
    <ul class="liparagra">
      <li>Windows: Microsoft Internet Explorer (version 11.0 or later), Firefox (latest version), Google Chrome
        (latest version)</li>
      <li>Mac: Safari (latest version), Firefox (latest version), Google Chrome (latest version)</li>
    </ul>
    <p class="paragra">Mobile</p>
    <ul class="liparagra">
      <li>iOS: iOS (version 11.0 or later), Safari (latest version)</li>
      <li>Android: Android (version 6.0 or later), Google Chrome (latest version)</li>
    </ul>
    <p class="paragra">*About JavaScript<br>
      This site uses JavaScript. Please make sure JavaScript is enabled</p>
    <br>
    <p class="contenthead">Cookies</p>
    <p class="paragra">Cookies are data containing information that can track visits to this site.<br>
      We use cookies to authenticate visitors who access our website and information accessible to said visitors. In
      addition, we track services selected by visitors in order to present them with more relevant content.<br>
      Visitors may choose to disable cookies and instead provide personal identification each time they use a service
      that requires authentication.</p>
    <br>
    <p class="contenthead">Security</p>
    <p class="paragra">
      This website takes security measures to prevent loss, misuse, or alteration of information under our company’s
      management.<br>
      Our security system includes firewalls, authorized access to and routine inspections of internal databases,
      etc.<br>
      In addition, we use SSL (a system for encrypting and sending information) to ensure security on pages that ask
      you to enter personal information.<br><br>

      *Please note that the site may not display properly with browsers that are not compatible with SSL.<br>
      Our company may entrust some business concerning the operation of this website to the third party companies
      which we have determined to be reliable.<br>
      Even in such cases, users’ personal information will be protected in accordance with this website’s security
      standards. This site uses JavaScript. Please make sure JavaScript is enabled.</p>
    <br>
    <p class="contenthead">Access Logs</p>
    <p class="paragra">

      This website includes pages which compile access logs in order to ascertain visitor access status.<br>
      Any information collected will be used solely for improving this website and for our company’s marketing
      activities.</p>
    <br>
    <p class="contenthead">Disclaimers</p>
    <p class="paragra">Our company makes no guarantees regarding the contents of this site.<br>
      In addition, our company is not liable for any kind of damage caused by information acquired from this website
      by its visitors, or through use of the website.<br><br>

      Please acknowledge that our company may suspend or take down this website without prior notice to the user.<br>
      Further, our company is not liable for any kind of damage caused by changes in information or
      suspension/takedown of this website, regardless of the reason.</p>
    <br>
    <p class="contenthead">Prohibited Actions</p>
    <p class="paragra">In using this website, you agree to not take any of the following actions, in addition to those
      prohibited by other clauses of this agreement:
    </p>
    <ol class="liparagra">
      <li>Acts which infringe upon (or are in danger of infringing upon) copyrights, trademarks or other rights of
        third parties, our company or partner companies.</li>
      <li>Acts which may be regarded as slander, libel, or threats toward third parties, our company or partner
        companies.</li>
      <li>Acts which cause (or are in danger of causing) any disadvantage and/or damage to third parties, our company
        or partner companies.</li>
      <li>Acts which may damage the credibility of our company, our partner companies, or this site.</li>
      <li>Acts which use this site for commercial purposes or for the preparation thereof.</li>
      <li>Acts of providing false information while using this website.</li>
      <li>Acts which violate (or are in danger of violating) public morals, laws or ordinances.</li>
      <li>Acts of using or introducing (or are in danger of using or introducing) harmful programs, such as computer
        viruses.</li>
      <li>Any other acts which may hinder operation of this site, or interfere with the provision of services.</li>
      <li>Any other acts which our company determines to be inappropriate</li>
    </ol><br>
    <p class="contenthead">About Linked Sites</p>
    <p class="paragra">Management of the contents of third party websites linked from or to this site (hereinafter
      referred to as linked sites) is the responsibility of their respective companies, and is not under our company’s
      control. Please view linked sites in accordance with the terms and conditions published on said websites. Our
      company is not liable for the contents of linked websites, or any damage caused by their use.<br><br>

      Further, the fact that there is a link to this website does not mean that our company uses the linked site or
      recommends its products, services or companies, nor does it mean that there exists any special relationship
      (such as sponsorship or partnership) between our company and the linked site.</p><br>
  </div>
</div>