<div class="overAll">
  <div class="imagediv">
    <img class="contactImage" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/contactUsImage.png" width="100%" alt="" style=" filter: brightness(0.5);
    height: 330px;
    background-position: center !important;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;">
  </div>
  <div class="breadcrumbs">
    <div class="background">
      <div class="d-flex container-fluid">
        <p [routerLink]="['/landing'] " class="m-0 breadcrumbs-text" style="cursor: pointer; ">Home &nbsp;>&nbsp;</p>
        <p [routerLink]="['/contactus']" style="margin: 0px 6px;cursor: pointer; " class="breadcrumbs-text">Conatct us &nbsp;>&nbsp;</p>
        <p class="m-0 active-breadcrumbs breadcrumbs-text">Various Inquiries </p>
      </div>
    </div>
  </div>
  <div class="content_div">
    <div class="container p-0">
      <div class="content container-fluid" style="padding: 0px 70px;">
        <h1 class="text-center mainhead" style="margin: 15px 0px">Various Inquiries</h1>
        <p style="font-size: 16px;"> Please enter the required information in the form below and press the "Confirm
          input" button at the bottom of the page. We will contact you according to the details of your inquiry.</p>
        <p style="font-size: 16px;"> *Please enable cookies and JavaScript in your browser before entering the
          information.</p>
        <p style="font-size: 16px;">*If the form does not work properly, please contact us by email with the necessary
          information.</p>
      </div>
      <div class="container-fluid secondContainer">
        <div class="card shadow-none card-1 align-items-center">
          <form [formGroup]="VariousForm" (ngSubmit)="SubmitConatactForm()">
            <div class="insideCard">
              <div class="row w-100">
                <div class="col p-0">
                  <div class="d-flex justify-content-center">
                    <hr class="thirdhr">
                    <h2>Message</h2>
                    <hr class="thirdhr">
                  </div>
                  <mat-form-field class="longInBox" style=" height: 150px;">
                    <mat-label>Message</mat-label>
                    <input formControlName="message" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="heading d-flex justify-content-center">
                <hr class="firsthr">
                <h2>Your Details</h2>
                <hr class="firsthr">
              </div>
              <div class="inputbox">
                <div class="row moibleFlex">
                  <div class="col">
                    <mat-form-field class="inputform">
                      <mat-label>First Name</mat-label>
                      <input formControlName="firstName" matInput required>
                      <mat-error *ngIf="VariousForm.get('firstName')?.hasError('required')">
                        FirstName is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="inputform">
                      <mat-label>Last Name</mat-label>
                      <input formControlName="lastName" matInput required>
                      <mat-error *ngIf="VariousForm.get('lastName')?.hasError('required')">
                        LastName is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row moibleFlex">
                  <div class="col ">
                    <mat-form-field class="longInBox">
                      <mat-label>Country</mat-label>
                      <mat-select formControlName="countryUi" [disabled]="true">
                        <mat-option value="India">India</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <mat-form-field class="longInBox">
                      <mat-label>State</mat-label>
                      <mat-select [(value)]="selectedState" formControlName="state">
                        <mat-option *ngFor="let state of indianStates" [value]="state.value">{{ state.viewValue
                          }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row w-100">
                <div class="col p-0">
                  <mat-form-field class="longInBox">
                    <mat-label>Company or Organisation</mat-label>
                    <input formControlName="company" matInput required>
                    <mat-error *ngIf="VariousForm.get('company')?.hasError('required')">
                      Company or Organisation is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row moibleFlex">
                <div class="col">
                  <mat-form-field class="inputform">
                    <mat-label>Department</mat-label>
                    <input formControlName="department" matInput>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="inputform">
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="row w-100">
                <div class="col p-0">
                  <mat-form-field class="longInBox">
                    <mat-label>Phone Number</mat-label>
                    <input formControlName="phoneNumber" matInput required>
                    <mat-error *ngIf="VariousForm.get('phoneNumber')?.hasError('required')">
                      PhoneNumber is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row moibleFlex">
                <div class="col">
                  <mat-form-field class="inputform">
                    <mat-label>Email Address</mat-label>
                    <input formControlName="emailAddress" type="email" matInput required>
                    <mat-error *ngIf="VariousForm.get('emailAddress')?.hasError('required')">
                      Email Address is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="inputform">
                    <mat-label>Email Address (Confirmation)</mat-label>
                    <input formControlName="confirmEmail" type="email" matInput required>
                    <mat-error *ngIf="VariousForm.get('confirmEmail')?.hasError('required')">
                      Confirmation Email Address is required
                    </mat-error>
                    <mat-error
                      *ngIf="VariousForm.hasError('emailMismatch') && (VariousForm.get('confirmEmail')?.dirty || VariousForm.get('confirmEmail')?.touched)">
                      Email addresses must match
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <p class="privacy">By checking this box, you consent to receive
                commercial electronic messages from 
                <span class="companyName"> SOLIZE India Technologies Private Limited</span> and its subsidiaries such as newsletters, event invitations, promotional and
                educational content, product, or service updates in accordance with our privacy policy.</p>
              <mat-checkbox formControlName="terms" style="color: #A6A9AB !important;"
                (change)="onCheckboxChange($event)" class="checkbox checkboxcontent">I would like to receive future communications from
                <span class="companyName"> SOLIZE India Technologies Private Limited</span></mat-checkbox>
              <button type="submit" [disabled]="submit || disableSubmitBtn"
                [class.disable-btn]="submit || disableSubmitBtn" class="inquiryForm btn-redColor">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submit"></span>
                Submit <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/whiteArrowicon.png" width="12px" alt=""></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>