<div class="container" style="padding-left: 14px">
    <div class="row background-image-container position-relative">
        <div class="col-md-4 col-sm-12">
            <div class="contact-info left-info">
                <a>Contact Us</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="contact-info right-info">
                <p class="text-end" style="margin-bottom: 5px;">TEL:<span
                        class="text-decoration-underline">+91-80-6178-2000</span> </p>
                <p class="m-0">E-mail: <span class="text-decoration-underline">contact.sid@solize.com</span> </p>
            </div>
        </div>
    </div>
</div>