  .header_card {
      background-color: #F3F4F5;
      padding: 9px 10px 10px 20px;
  }

  .card>ul>li {
      background-color: #A30808;
  }

  .overal_Card {
      padding: 40px 40px 20px 40px;
  }

  input {
      border: none;
      background-color: #F3F4F5;
  }

  .editIcon {
      background: none;
      border: none;
  }

  .image_div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 37px;
      background-color: #E3DFDF80;
      border-radius: 15%
  }

  .card {
      box-shadow: none !important;
  }

  ul>li {
      margin-left: 0px;
      margin-right: 0px;
      border: 1px solid #B8B8B840;
      border-radius: 0px;
  }

  .card_design {
      width: 100%;
  }