<div class="overall" style="height: 800px;">
    <div>
        <app-card-details></app-card-details>
    </div>
    <div class="container overal_Card">
        <div class="card card_design">
            <div>
                <div class="card-header header_card d-flex justify-content-between ">
                    <h5>Reset Password</h5>
                </div>
                <div>
                    <form (ngSubmit)="submit()">
                        <ul class="list-group ">
                            <li class="list-group-item d-flex row">
                                <p class="col-5 m-auto">Enter Email ID</p>
                                <input class="col-6" [(ngModel)]="email" required type="email" />
                                <button type="submit" class="editIcon col-1" *ngIf="submits">
                                    <div class="image_div"><img
                                            src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/iconoir_send-diagonal.png" alt=""> </div>
                                </button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <p *ngIf="!submits">The email containing the password reset link has been sent to your email address.</p>
        <p *ngIf="submits">Please provide the email address associated with your account.</p>
    </div>
</div>