.btn-theme {
    border-radius: 25px;
    height: 45px;
    border: 1px solid rgba(97, 89, 89, 0.5019607843);
    color: #615959;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0 20px;
}

.event-coverImg {
    height: 170px;
    border-radius: 85px;
    width: 170px;
}

.custom-bold {
    font-weight: bold;
}

.custom-font-size {
    font-size: 16px;
}

.custom-calendar-border {
    border-right: 2px solid #AFACAC33;
}

.custom-calendar-borderbottom {
    border-bottom: 3px solid #AFACAC33;
}

.custom-dropdown-border {
    border-left: 2px solid #AFACAC33;
}

.event-title {
    margin: auto;
}

.custom-seminorcontent-rightborder {
    border-right: 2px solid #AFACAC33;
}

.custom-seminorcontent-bottomborder {
    border-bottom: 2px solid #AFACAC33;
    margin-left: 10px;
}

.cover-img {
    width: auto;
    height: 175px;
    border: 2px solid rgba(175, 172, 172, 0.2) !important;
    object-fit: cover;
}

.dropdown-border {
    border: 1px solid rgba(97, 89, 89, 0.5);
    border-radius: 8px;
    padding: 12px;
}

.ColHead {
    border-bottom: 1px solid #AFACAC;
    margin-left: 2px;
    margin-right: 2px;
}

p {
    color: #615959;
}

.coverImg-border {
    border-left: 1px solid #AFACAC;
    border-right: 1px solid #AFACAC;
}

.evetitle-div {
    margin-right: 25px;
}

.event-detail {
    height: auto;
    width: auto;
    padding: 4px;
}

.event-detail-second {
    height: auto;
    width: auto;
    border: 1px solid rgb(0, 60, 255);
    padding: 4px;
}

.event-type-content {
    border: 1px solid black;
}

.seminor-details-bb {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.seminor-img-br {
    margin-top: 14px;
    margin-bottom: 14px;
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.seminor-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 160px;
}

.seminor-img img {
    width: 160px;
    object-fit: cover;
    height: 160px;
}

.custom-shadow {
    border: 1px;
    border-color: #C1011080 !important;
    box-shadow: 0 0.2rem 1rem rgba(255, 0, 0, 0.1) !important;
}

.bold-border {
    border: 1px solid #C1011080 !important;
}

.event-title {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.evetitle-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-info-container {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px 0px 4px 59px;
}
.event-info-container-date{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 5px 0px 4px 14px;       
}

.event-info {
    display: flex;
    margin-bottom: 5px;
}

.seminor-icons {
    width: 15px;
    height: auto;
    margin-right: 10px;
}

.event-title {
    margin: 0;
}

.seminor-details {
    padding: 10px;
    margin: auto;
}

.seminor-details-br {
    padding: 10px;

}

.custom-border-bottom {
    border-radius: 0px;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.seminor-details-bb {

    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.breadcrumbs-content {
    margin-top: 15px;
}

.active-breadcrumbs {
    color: #C10110;
}

.no-events {
    height: 225px;
}

.background {
    width: 100%;
    background-color: #F1F3F6;
    height: auto;
}

.card {
    box-shadow: none;
}

.dropdown-item.active {
    background: rgba(0, 0, 0, 0.05) !important;
    color: black;
    font-size: inherit;
    border-left: 4px solid black;
}

.dropdown-item:hover {
    background: rgba(0, 0, 0, 0.05) !important;
    color: rgb(73, 72, 72);
    font-size: inherit;
    border-left: 4px solid rgb(78, 78, 78)
}

.dropdown-item.active.bg-danger {
    background: rgba(0, 0, 0, 0.05) !important;
    color: black !important;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: transparent !important;
    --bs-dropdown-link-active-color: black !important;
}

.col-3 {
    width: auto;
}

.content-Div {
    padding: 0px 75px;
}

@media only screen and (max-width: 992px) {
    .btn-theme {
        border-radius: 20px;
        height: 45px;
        border: 1px solid rgba(97, 89, 89, 0.5019607843);

    }

    .seminor-details-br {
        order: 2;
        width: 50%;
    }

    .custom-font-size {
        font-size: 10px;
    }

    .seminor-img-br {
        border-right: none !important;
    }

    .content-Div {
        padding: 0px !important;
    }

    .seminor-img img {
        width: 100%;
        max-width: 200px;
        max-height: 450px;
        height: 180px;
    }

    .cal-icon-smallDevice {
        height: 40px;
        width: 50px;
    }

    .hide-year {
        display: none !important;
    }

    .coverImg-border {
        border-left: none;
        border-right: none;
        border-top: 1px solid #AFACAC;
        border-bottom: 1px solid #AFACAC;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .seminor-desc {
        order: 1;
        width: 100%;
    }

    .seminor-details,
    .seminor-img {
        order: 2;
        width: 50%;
    }

    .seminor-img img {
        width: 100%;
        max-width: 140px;
        max-height: 140px;
        height: 170px;
        object-fit: cover;
    }

    .seminor-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background {
        display: none !important;
    }

    .eventImage {
        z-index: 0 !important;
        height: 0% !important;
    }

    .imagediv .centered-text {
        font-size: 20px !important;
    }
    .event-info-container{
        justify-content: center;
        margin: 0px;
    }
}

.content {
    padding-left: 10px;
}

.content:hover {
    padding-left: 10px;
}

.event-detail>h2,
p:hover {
    color: #9e9797;
}

.custom-border-bottom:hover {
    border-bottom-color: #C10110 !important;
}

.custom-border-bottom:hover .event-detail {
    color: #C10110 !important;
}

.time-container {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.time-entry {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.time-container::-webkit-scrollbar {
    width: 1px;
}

.time-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.time-container::-webkit-scrollbar-thumb {
    background: #888;
}

.time-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (min-width: 576px) {
    .alignjustify {
        justify-content: flex-start !important;
    }
}

@media (min-width:280) and (max-width:575) {
    .alignjustify {
        justify-content: center !important;
    }
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 52.5px;
}

.col-4 {
    flex: 0 0 auto;
    width: 10.33333333% !important;
}

.selected-year {
    background-color: #C10110;
    color: white;
}

.year-border {
    border-right: 2px solid rgba(175, 172, 172, 0.2);
    padding: 0 14px 0px 5px;
}

.event-list-dropdown {
    float: right;
    width: 188px;
}

.year-border-first {
    border-right: 2px solid rgba(175, 172, 172, 0.2);
    padding: 0 14px 0px 0px;
}

.cursor-pointer {
    cursor: pointer;
}

.year-border {
    border-right: 2px solid rgba(175, 172, 172, 0.2);
    padding: 0 14px 0px 5px;
}

.selected-year {
    background-color: #C10110;
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 992px) {
    .btn-theme {
        border-radius: 20px;
        height: 45px;
    }

    .custom-font-size {
        font-size: 10px;
    }

    .content-Div {
        padding: 0px;
    }
}

@media (max-width: 576px) {
    .year-border {
        padding: 0 8px;
    }

    .btn-theme {
        // width: 40px;
    }

    .event-list-dropdown {
        float: none;
    }
}

.visible-year {
    display: inline-block;
    padding: 0 12px;
}

@media (max-width: 992px) {
    .visible-year {
        display: inline-block;
        padding: 0 8px;
    }
}

@media (max-width: 576px) {
    .visible-year {
        display: inline-block;
        padding: 0 4px;
    }

    .btn-theme {
        font-size: 12px;
    }
}

.visible-year {
    display: inline-block;
    padding: 0 12px;
}

@media (min-width: 992px) and (max-width: 1195px) {
    .visible-year {
        display: inline-block;
        padding: 0 10px;
    }

    .btn-theme {
        font-size: 14px;
    }

    .year-border {
        padding: 0 10px;
    }
   
    
}

@media (min-width:992px) {

    .event-typels-web{
        position: relative !important;
    } 
}
@media (max-width: 991px) {
    .visible-year {
        display: inline-block;
        padding: 0 4px;
    }

    .btn-theme {
        font-size: 12px;
    }

    .year-border {
        padding: 0 6px;
    }
}

@media (max-width: 767px) {
    .mb-response {
        padding: 0px;
        justify-content: center;
    }

    .year-border {
        padding: 0 4px 0px 4px
    }

    .year-border-first {
        border-right: 2px solid rgba(175, 172, 172, 0.2);
        padding: 0 5px 0px 0px;
    }
}

.mb-response {
    padding-left: 0;
}
/* Ensure the button has a fixed width */
.event-list-dropdown {
    // width: 100%;
    // display: flex;
    align-items: center;
    justify-content: space-between; /* Space out the text and icon */
    // padding: 0.70rem 3.5rem; /* Adjust padding as needed */
  }
  
  .dropdown-label {
    flex-grow: 1; /* Make the label take up the remaining space */
    text-align: left; /* Align text to the left */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if text is too long */
  }
  
  .dropdown-icon {
    width: 16px; /* Adjust icon size */
    height: 16px; /* Adjust icon size */
    margin-left: 8px; /* Add some space between text and icon */
  }
  .year-move-icon {
    cursor: no-drop;
    opacity:0.5;
  }