.example-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.mat-form-field {
  margin-bottom: 20px;
}

table {
  width: 100%;
  overflow: auto;
  max-height: 300px;
  overflow: scroll;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.actionbtn {
  background-color: #FC3F3F;
  color: white;
  border: unset;
  border-radius: 10px;
  width: 100px;
}

.grey-button {
  background-color: #c3e5c2;
  color: #077705;
  border: unset;
  border-radius: 10px;
  width: 100px;
}

.Search {
  border-radius: 8px;
  border-style: solid;
  border-color: #d3eafd;
}

.middle-card-row {
  margin-top: -85px;
}

.middle-card {
  z-index: 1;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 92%;
  margin: auto;
  margin-top: -45px;
}

.card-img {
  width: 100%;
  border-radius: unset;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 630px) {
  .card-img {
    height: auto;
    width: auto;
    max-width: 100%;
  }
}

.square-image {
  overflow: hidden;
  border-radius: 8px;
}

.card-with-background {
  width: 100%;
}

.square-image img {
  width: 100%;
  width: 135px;
  height: 130px;
  object-fit: cover;
}

.mat-elevation-z8 {
  overflow-y: auto;
  max-height: 500px;
}

@media screen and (min-width: 992px) and (max-width: 1239px) {

  .middle-card-row,
  .mt-4 {
    justify-content: center;
  }

  .middle-card-row .col-lg-8,
  .mt-4 .col-lg-8 {
    width: 75%;
    max-width: 1000px;
  }

  .middle-card.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .middle-card.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .square-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square-image img {
    width: 95px;
    height: unset;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.btn-payment-status {
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
}

.btn-payment-status.Completed {
  background-color: #c3e5c2 !important;
  border-color: #a8c1a8 !important;
  color: #077705 !important;
  width: 100px;
}

.btn-payment-status.pending {
  background-color: #F4D669 !important;
  border-color: #F4D669 !important;
  color: #775E04 !important;
  width: 100px;
}

.mat-header-cell,
.mat-cell {
  font-size: 14px;
}

#imagetable {
  border-radius: 20px;
}

.mat-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 99%;
}

.mat-table td,
.mat-table th {
  padding: 70px;
}

.maincontainer {
  padding: unset;

  .container {
    width: 100%;
  }
}

.cancelbtn {
  background-color: #F4D669 !important;
  border-color: #F4D669 !important;
  color: #775E04 !important;
  width: 100px;
  border-radius: 10px;
  border-bottom: #F4D669 !important;
  border-right: #F4D669 !important;
}

.profilebtn {
  width: 100px;
  border-radius: 15px;
  border: unset;
  background-color: #FFD4D4 !important;
  border-color: #A30808 !important;
  color: #A30808 !important;
}

.mat-mdc-table .mdc-data-table__row {
  height: 85px;
}

@media (max-width: 600px) {
  .card {
    width: 80%;
    margin: 0 auto;
  }

  .middle-card {
    margin-top: 53px;
  }
}

.btn-transparent {
  border: 1px solid #ECECF1;
  border-radius: 5px;
  background-color: #ECECF1;
  color: #80575b;
  transition: all 0.3s ease;
  padding: 10px 22px;
  margin-right: 10px;
  width: 100%;
  height: 43px;
}

.btn-transparent.selected {
  border-color: #FC3F3F;
  color: #FC3F3F;
}

.btn-selected {
  border: 1px solid rgba(163, 8, 8, 0.36);
  border-radius: 5px;
  color: #000;
  transition: all 0.3s ease;
  background-color: #fff;
  color: rgba(163, 8, 8, 1);
  width: 100%;
  padding: 10px;
}

.search-order {
  background: #ececf1;
}

.search-order:hover,
.search-order:focus,
.search-order:focus-visible {
  box-shadow: none;
}

.form-select {
  padding: 10px;
  background: #ececf1;
  border-radius: 5px;
}

.card {
  box-shadow: none;
}

.table-responsive th {
  background: #e4e4e8;
}

.table-responsive td {
  background: #fff;
}

.btn-transparent {

  &:focus,
  &:hover {
    border-color: rgba(163, 8, 8, 0.36) !important;
    box-shadow: #FC3F3F !important;
    background: #fff;
  }
}

.slider-icon {
  margin: -65px 10px 0px;
}

.select-option {
  padding: 10px 0px 10px 35px !important;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}

td {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  overflow: hidden;
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
