<div class="imagediv">
    <img class=" carousel-slider-img" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/solutions_banner.png"
    style=" filter: brightness(0.5);
       height: 330px;
    background-position: center !important;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: relative;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;">
</div>
<div *ngIf="categoryId==1">
    <div class="container-fluid tagtitle">
        <a href=""><span style="color: #000000;">Home</span></a> &nbsp; &gt; &nbsp;<a href=""><span
                style="color: #000000;">Services/Technologies
            </span></a>&nbsp; &gt; &nbsp; <span style="color: red;">Product Engineering Services</span>
    </div>
    <div class="container moibleContainer" style="padding: 0px 70px;">
        <div class="container text-center my-3 p-0">
            <h2 class="mainhead"><b>Product Engineering Services</b></h2>
            <p class="ptitle"><span class="companyName"> SOLIZE India Technologies Private Limited</span> has more than three decades of experience in engineering design, software
                tools and services　for customers in several industries including automotive, aerospace, defense and
                industrial equipment organizations in India and the leading engineering universities.
            </p>
            &nbsp;
            <p class="ptitle">
                Our digital engineering skills, honed as a pioneer in 3D CAD, can assist your company in almost every
                stage of product development, from concept design to mass production, including analysis, evaluation,
                prototyping, and improvement proposals. It also means we have the ability to help your company keep pace
                with the continuous and rapid acceleration of growth in the Indian automotive and aviation industries,
                both in development work and in cross-border operational collaboration in manufacturing.
            </p>
            &nbsp;
            <p class="ptitle">
                Nowadays, the importance of engineering knowledge is not limited to the product development stage. 3D
                CAD data and the latest digital technologies can also contribute to the optimization of the supply
                chain, especially in logistics, which many manufacturing customers cannot afford to overlook.
            </p>
            &nbsp;
            <div class="row" style="text-align: center;padding: 28px;">
                <div class="col">
                    <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/3d-cad-brower-software12.jpg" alt="" style="width: 40%;height: 100%;">
                    <img style="width: 60%;height: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/catia-v5-hero-banner.jpg.webp" alt="">
                </div>
            </div> <br>
            <h2 class="subheader">3D CAD Engineering</h2>
            <p class="ptitle">Our engineers can utilize four main types of high-end and mid-range CAD software such as
                CATIA, NX, Creo, SolidWorks, and ANSA, and assist customers throughout the process from product and
                concept designs to creating 3D design and mockup models. We also create upstream styling designs while
                taking production requirements into consideration.
            </p>
            &nbsp;
            <p class="ptitle"><span class="companyName"> SOLIZE India Technologies Private Limited</span> also solves these problems that occur at the product development site by
                combining Robotic Process Automation (RPA), CAD templates, and CAD feature extension technology to
                control information and reduce lead time to provide the best solution to each of these problems.
            </p>
            &nbsp;
            <div class="container" style="padding: 28px;">
                <div class="row align-items-start">
                  <div class="col-lg-6 col-md-12 mb-3">
                    <img style="width: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Pack%20Assistant.png" alt="Left Image">
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="row">
                      <div class="col-6 mb-3">
                        <img style="width: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Pack%20Assistant-4.png" alt="Image 1">
                      </div>
                      <div class="col-6 mb-3">
                        <img style="width: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Pack%20Assistant-2.png" alt="Image 2">
                      </div>
                      <div class="col-6 mb-3">
                        <img style="width: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Pack%20Assistant-3.png" alt="Image 3">
                      </div>
                      <div class="col-6 mb-3">
                        <img style="width: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Pack%20Assistant-1.png" alt="Image 4">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            <h2 class="subheader">Packaging Design Optimization solution
            </h2>
            <p class="ptitle">PackAssistant empowers businesses to achieve an optimal packaging strategy that balances
                performance, cost-effectiveness, and sustainability. Developed by the Fraunhofer Institute for
                Algorithms and Scientific Computing SCAI and distributed globally by scapos AG, it is renowned for its
                advanced algorithms and powerful optimization capabilities, enabling businesses to significantly
                optimize cost and time through optimal container utilization, avoiding time-consuming packing tests,
                allowing early-stage transport, container and storage planning and providing a key support tool for the
                creation of quotes and tenders.</p>
                &nbsp;
            <p class="ptitle">The PackAssistant software is widely used by global Automotive OEMs including Audi, BMW,
                Renault, KTM Power Sports, Automotive Suppliers, and companies manufacturing a range of diverse products
                including consumer products, gardening equipment, children’s toys, medical equipment and packaging
                material.
            </p>
            <div style="text-align: center;padding: 28px;">
                <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Hexagon-1.jpg" style="width: 100%;" alt="">
            </div>
            <h2 class="subheader">Cross-border engineering support
            </h2>
            <p class="ptitle">While many global OEMs are putting locating their development centers in the country at
                the top of their list of choices to enter the ever-growing Indian market, indigenous manufacturing
                companies that have become large enough are now looking for stronger and more extensive engineering
                collaboration to meet the diverse demands of the international market</p>
                &nbsp;
            <p class="ptitle"><span class="companyName"> SOLIZE India Technologies Private Limited</span>, with its large number of engineers, specializes in providing dynamic, ongoing
                engineering support through human and technical collaboration with multiple global offices, including
                USA and Europe, to form project teams of the optimum size for each client, while adhering to the
                standards of each local market</p>
                &nbsp;
            <p class="ptitle">We specialize in providing dynamic, ongoing engineering support by assembling project
                teams of the optimum size for our clients while adhering to local market standards.
            </p>
        </div>
    </div>
</div>
<div *ngIf="categoryId==2">
    <div class="container-fluid tagtitle">
        <a href=""><span style="color: #000000;">Home</span></a> &nbsp; &gt; &nbsp;<a href=""><span
                style="color: #000000;">Services/Technologies
            </span></a>&nbsp; &gt; &nbsp; <span style="color: red;">Testing and Validation Services</span>
    </div>
    <div class="container  moibleContainer" style="padding: 0px 70px;">
        <div class="container text-center p-0 my-3">
            <h2 class="mainhead"><b>Testing and Validation Services</b></h2>
            <p class="ptitle">We are well aware that each industry has its own challenges and opportunities. Our
                business is industry experts with hands-on experience in solving the issues that keep you awake at
                night. We ensure that our customers gain real benefits from their solution implementation in exactly the
                areas they need.
            </p>
            &nbsp;
            <p class="ptitle">Here at <span class="companyName"> SOLIZE India Technologies Private Limited</span>, we have specialized experience spanning a number of industries,
                including Automotive, Aerospace and Defense, Academia and many others. The diversity of our customer
                base also enables us to understand your industry challenges and offer you the best answer to solve your
                problem from a variety of CAE and simulation solutions.
            </p>
            &nbsp;
            <p class="ptitle">We will select the best solution for you among the most advanced CAE analysis software for
                structural analysis, mechanical analysis, thermo-fluid analysis, electromagnetic analysis, and more. The
                effective use of these software solutions in accordance with your specific development requirements will
                be an important factor in the face of increasing technological sophistication, accelerating progress,
                and intensifying competition.
            </p>
            &nbsp;
            <h2 class="subheader">CAE Engineering</h2>
            <p class="ptitle">In order to perform CAE analysis accurately, after cutting the 3D model into meshes and
                setting the analysis conditions appropriately, it is necessary to correctly understand the analysis
                results and review the validation. </p>
                &nbsp;
            <p class="ptitle">Needless to say, data consistency with past validation results is also an important factor
                when comparing with existing product models.</p>
                &nbsp;
            <p class="ptitle">While the diversity of products and the speed of improvement cycles are increasing in many
                development sites, the range of skills required to properly analyze each piece of software while fully
                understanding the characteristics of each piece of software is still increasing exponentially.</p>
                &nbsp;
            <p class="ptitle">Our team also provides engineering support for CAE analysis, based on our years of
                industry experience and close collaboration with our partners.
            </p>
            <div class="row" style="text-align: center;padding: 28px;">
                <div class="col-lg-6">
                    <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Hexagon-5.png" style="width: 100%;" alt="">
                </div>
                <div class="col-lg-6">
                    <img style="width: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Hexagon-6.png" alt="">
                </div>
            </div> 
            <h2 class="subheader">Automotive</h2>
            <p class="ptitle">The Indian automotive industry is set to become one of the top three automotive markets in
                the world. For many of the global OEMs, outside their home-country India has become the location of
                choice for engineering and manufacturing. That is to say, outside their home-country India has become
                the location of choice for engineering and manufacturing. On the other hand, the indigenous OEMs are
                making strong strides towards developing world-class products to compete in the domestic market and also
                access the global markets.
            </p>
            <div class="row" style="text-align: center;padding: 28px;">
                <div class="col">
                    <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/SOE-with-Equipments-Grey-1.jpg" style="width: 50%;" alt="">
                    <img style="width: 50%;height: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/RTS-HK5.jpg" alt="">
                </div>
            </div> 
            <h2 class="subheader">Aerospace and Defense</h2>
            <p class="ptitle">India’s overall aviation market is expected to become the largest globally by 2030. Growth
                and expansion of India’s Aerospace and Defense Manufacturing sector has enabled India to earn the
                recognition as one of the world’s aerospace hubs. The steep increase in passenger traffic and increasing
                defense expenditure will lead to accelerated growth of the Indian aerospace sector. The Civil and
                Defense offset policies combined with the “Make-In-India” initiatives of the Government are presenting
                significant business opportunities both in the domestic and the international markets.
            </p>
            <div style="text-align: center;padding: 28px;">
                <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Academia.jpg" style="width: 100%;" alt="">
            </div>
            <h2 class="subheader">Academia</h2>
            <p class="ptitle">Recent times have seen revolutionizing technology changes in every field of engineering
                like Renewable Energy, Alternate Materials, Autonomous Driving, Advanced Driver Assistance Systems,
                Emission Control, etc. Adoption of digital technologies in the industries is growing at a rapid pace.
            </p>
            &nbsp;
            <p class="ptitle">Apart from the rapid technological changes, businesses are also facing significant cost
                and time pressures. These changes are forcing the industry to demand universities to align their
                academic programs closely with the current industry practice and continuously upgrade to remain in
                alignment with the industry changes. This will help the universities to equip the students with current
                industry knowledge and skills, apart from the basic scientific and engineering knowledge.
            </p>
        </div>
    </div>
</div>
<div *ngIf="categoryId == 3">
    <div class="container-fluid tagtitle">
        <a href=""><span style="color: #000000;">Home</span></a> &nbsp; &gt; &nbsp;<a href=""><span
                style="color: #000000;">Services/Technologies
            </span></a>&nbsp; &gt; &nbsp; <span style="color: red;">Innovation System Solution</span>
    </div>
    <div class="container moibleContainer" style="padding: 0px 70px;">
        <div class="container text-center p-0 my-3">
            <h2 class="mainhead"><b>Innovation System Solution</b></h2>
            <p class="ptitle">In the India market, which continues to experience explosive economic growth and
                international attention, if you want to maintain your competitiveness or continue to accelerate your
                technological development, sufficient visibility and dynamic utilization of the various data lying
                within your organization is almost inevitable for most advanced manufacturing companies, and to overlook
                it without doing so is nothing short of a risk to your future business development. </p>
                &nbsp;
            <p class="ptitle">More than ever, a company’s ability to maintain a competitive edge is a test of its
                ability to continuously evolve and reform amid a landscape of dramatic market shifts and rapid
                technology developments. At <span class="companyName"> SOLIZE India Technologies Private Limited</span>, we use our proprietary visualization, knowledge formalization
                technologies and our capacity to implement changes, alongside our partner solutions to identify latent
                customer strengths and convert those to competitive advantages.</p>
                <div class="row" style="text-align: center;padding: 28px;">
                    <div class="col-lg-8">
                        <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/mastering-total-quality-management.jpg.webp" style="width: 100%;" alt="">
                    </div>
                    <div class="col-lg-4">
                        <img style="width: 100%;" src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/Lifecycle-Diagram.png.webp" alt="">
                    </div>
                </div> 
            <br>
            <h3 class="subheader"><b>PLM Implementation</b> </h3>
            <br>
            <p class="ptitle">To implement, replace, or update PLM and at the same time realize its flexibility, it is
                important to fully understand the linkage of a wide variety of data such as 3D CAD, non-CAD documents,
                part numbers, and E-BOMs, as well as your existing engineering processes, such as change management. On
                the other hand, in order to effectively utilize your organization's fragmented and isolated invaluable
                data assets, cleansing large amounts of legacy data and building consensus within the organization on
                which data should be prioritized for migration in the early stages of the project is critical to
                efficiently transferring reasonably necessary data to the new system environment. As in practice
                projects rarely go as expected, this is not an easy task for many manufacturing companies to undertake
                on their own.</p>
            <br>
            <p class="ptitle">
                Our technical support team specializes in building solutions in an agile manner, regardless of their
                size, while understanding the specifications of each functional requirement and envisioning what the
                solution should look like once it is finally delivered.
            </p>
            <div style="text-align: center;padding: 28px;">
                <img src="https://solizecorporateweb.s3.amazonaws.com/client/asset/images/unveiling-virtual-twins-enovia-300x189.jpg" style="width: 50%;" alt="">
            </div>
            <h3 class="subheader"><b>Solution Value Maximization</b></h3>
            <p class="ptitle">
                Amidst a rapidly changing business environment, companies are constantly required to innovate. The
                ability to change itself is now a company's competitiveness and business management itself. What we
                provide is the ability to implement change. In the field, which is the key to transformation, there are
                many areas where the wisdom and technology that are the source of competitiveness remain tacit knowledge
                of people and organizations and are not fully utilized. In addition, while many companies are promoting
                DX (Digital Transformation), there are many cases where “the means to an end” and “digitalization of
                existing operations as they are” are seen, and the expected results are not being achieved.
            </p>
            &nbsp;
            <p class="ptitle">
                We are not only able to drive projects to implement the latest digital solutions, but we are also able
                to engage stakeholders in engineering operational changes, seeing these changes as an opportunity to
                innovate. In addition, many digital tools are moving to cloud-based platforms, Dassault 3DEXPERIENCE
                being a prime example. We can help you not only implement solutions such as CATIA, DELMIA, ENOVIA, and
                BIOVIA, but also ensure that your engineers can properly utilize these systems once they are in place,
                while meeting your scalability, compliance, and security requirements. We will help your engineers to
                make the best use of these systems after their implementation.
            </p>
        </div>
    </div>
</div>
<div class="container head-container" style="display: flex;align-items: center; padding: 0px 71px;">
    <h2><b>Solutions</b></h2>
</div>
<div *ngIf="loader" class="d-flex justify-content-center p-5">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container card-container" *ngIf="showingresultsData.length > 0;else noDataBlock">
    <div class="row card_search" *ngFor="let product of showingresultsData" (click)="viewProudct(product.productId)"
        style="margin-bottom: 30px;height: 100%;background: rgb(128 128 128 / 4%);">
        <div class="col-lg-4" style="border-right: 3px solid rgb(128 128 128 / 7%);height: inherit;">
            <div class="content-wrapper">
                <div class="imgsection">
                    <img src="{{product.productImage}}"
                        style="width: 240px;height: 138px;object-fit: initial;border-radius:10px;" alt="">
                </div>
                <p class="titlecss">{{product.productName}}</p>
            </div>
        </div>
        <div class="col-lg-8 card-div">
            <div class="row card-row" style="border-bottom: 3px solid rgb(128 128 128 / 7%);padding: 10px;">
                <div class="col-lg-12 tag-container">
                    <div class="tag-wrapper">
                        <div *ngFor="let tag of product.productTags">
                            <span class="productTag">{{tag.productTagName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ParaMobile" style="padding: 18px;">
                <div class="col-lg-12 ParaMobilecol">
                    <p class="productShortDesc">{{product.productShortDesc}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #noDataBlock>
    <div *ngIf="!loader" class="container mobileNoDatapadding" style="padding: 50px 70px;">
        <div class="d-flex justify-content-center alert alert-secondary" style="padding: 10px;margin: auto;">
            <p class="text-center m-0 p-3">No Solution Found</p>
        </div>
    </div>
</ng-template>
